<script>
export default {
  name: "ContainerFluid",

  props: {
    limit: Boolean
  },

  computed: {
    classes() {
      return {
        "v-container__fluid": true,
        "limit-container-width": this.limit
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    }

    return createElement("div", VNodeData, [this.$slots.default])
  }
}
</script>

<style lang="scss" scoped>
.v-container__fluid {
  @apply w-full px-4 mx-auto;
}

.limit-container-width {
  max-width: 1140px;
}
</style>
