<script>
export default {
  name: "VContainer",

  render(createElement) {
    const VNodeData = {
      class: "v-container"
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-container {
  @apply px-5 py-4 relative min-h-full bg-gray-50;
}
</style>
