<template>
  <div :class="classes">
    <div class="v-alert__content">
      <button class="v-btn-close" v-if="closeable">
        <fa-icon icon="times"></fa-icon>
      </button>
      <slot></slot>
    </div>
  </div>
</template>

<script>
import Colorable from "@/core/mixins/colorable";

export default {
  name: 'VAlert',

  mixins: [
    Colorable
  ],

  props: {
    closeable: Boolean
  },

  computed: {
    classes() {
      return {
        'v-alert': true,
        ...this.colorClasses
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-alert {
  @apply px-3 py-3 relative mb-4 rounded border border-solid font-sans text-sm;

  hr {
    @apply my-4
  }

  &.primary {
    @apply bg-blue-100 text-blue-800 border-blue-200;

    hr {
      @apply border-blue-200;
    }
  }

  &.danger {
    @apply bg-red-200 text-red-700 border-red-300;

    hr {
      @apply border-red-300;
    }
  }

  &.success {
    @apply bg-green-100 text-green-700 border-green-200;

    hr {
      @apply border-green-200;
    }
  }

  &.warning {
    @apply bg-yellow-100 text-yellow-700 border-yellow-200;

    hr {
      @apply border-yellow-200;
    }
  }

  &.secondary {
    @apply bg-gray-100 text-gray-800 border-gray-200;

    hr {
      @apply border-gray-200;
    }
  }

  .title {
    @apply block font-medium text-xl mb-1 mr-6;
  }

  &__content {
    @apply relative;
  }

  .actions {
    @apply flex justify-end gap-4;
  }

  p {
    @apply mb-0;
  }

  .close {
    width: 24px;
    height: 24px;
    @apply absolute -right-1.5 -top-1.5 text-gray-700 outline-none transform hover:text-gray-800 text-lg;
  }
}
</style>
