<template>
  <VDropdown width="100%">
    <template #activator="{toggle, active}">
      <VSimpleBtn full-width @click="toggle" :active="active">{{ getText }}</VSimpleBtn>
    </template>

    <template #content="{close}">
      <VDropdownContent>
        <VCardHeader>
          <div
            class="cursor-pointer text-gray-400 inline-block hover:text-gray-500 transition-colors duration-150 ease-in-out"
            @click="mode = 'year'">
            {{ active.year }}
          </div>
          <div class="text-gray-700 text-2xl font-medium mt-1 hover:text-blue-800"
               :class="{ 'cursor-pointer': isYear || isMonth }" @click="mode = 'date'">
            {{ getHeader }}
          </div>
        </VCardHeader>

        <VCardText v-show="!isYear">
          <div class="v-date-picker__header">
            <VSimpleBtn small rounded text @click="prev">
              <fa-icon icon="chevron-left"></fa-icon>
            </VSimpleBtn>

            <span class="font-medium cursor-pointer" @click="changeMode">{{ getCalendarLabel }}</span>

            <VSimpleBtn small rounded text @click="next">
              <fa-icon icon="chevron-right"></fa-icon>
            </VSimpleBtn>
          </div>

          <div class="v-date-picker__content" v-show="isDate">
            <div class="v-date-picker__heading">
              <div v-for="(day, index) in weekdayNameShorter" :key="`header-${index}`">
                {{ day }}
              </div>
            </div>

            <div class="v-date-picker__days">
              <div v-for="entry in generateCalendar" :class="entry.classes" :key="entry.key"
                   @click="setDay(entry, close)">
                {{ entry.day }}
              </div>
            </div>
          </div>

          <div class="v-date-picker__content" v-show="isMonth">
            <div class="v-date-picker__months">
              <div class="v-date-picker__month"
                   v-for="(month, index) in monthNamesShort"
                   :key="`month-${month}`"
                   :class="{ 'is-active': active.month === index + 1}"
                   @click="setMonth(index + 1)">
                {{ month }}
              </div>
            </div>
          </div>
        </VCardText>

        <VCardText v-show="isYear">
          <ul class="v-date-picker__years">
            <li v-for="year in getYears"
                :class="{ 'is-active': year === active.year }"
                :key="`year-${year}`" @click="setYear(year)">
              {{ year }}
            </li>
          </ul>
        </VCardText>
      </VDropdownContent>
    </template>
  </VDropdown>
</template>

<script>
import Proxyable from "~/core/mixins/proxyable";
import DatePicker from "~/core/utils/DatePicker";

const datePickerUtil = new DatePicker();

const MODE = {
  DATE: "date",
  MONTH: "month",
  YEAR: "year"
}

export default {
  name: "VDatePicker",

  mixins: [
    Proxyable,
  ],

  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        const selectedDate = newVal ? new Date(newVal) : newVal;
        const {month, year, day, weekday, date} = datePickerUtil.getDateParts(selectedDate);

        this.$set(this.$data, "active", {month, year, day});
        this.$set(this.$data, "selected", {month, year, day, weekday, date});
        this.$set(this.sharedState, "value", date);

        if (newVal === null)
          this.$emit("change", date);
      }
    }
  },

  data: () => ({
    weekdayNameShorter: datePickerUtil.weekdayNameShorter,
    monthNamesShort: datePickerUtil.monthNamesShort,
    active: {
      month: 1,
      year: 2021,
      day: 1,
      weekday: 0
    },
    selected: {
      month: 1,
      year: 2021,
      day: 1,
    },
    today: null,
    mode: "date"
  }),

  computed: {
    isDate() {
      return this.mode === MODE.DATE;
    },

    isMonth() {
      return this.mode === MODE.MONTH;
    },

    isYear() {
      return this.mode === MODE.YEAR;
    },

    getYears() {
      return datePickerUtil.years;
    },

    generateCalendar() {
      return datePickerUtil.generateCalendar(
        this.getActiveComponent,
        this.getSelectedComponent,
      );
    },

    getSelectedComponent() {
      return datePickerUtil.getDateParts(
        datePickerUtil.getDateFromParts(this.selected)
      );
    },

    getActiveComponent() {
      return datePickerUtil.getDateParts(
        datePickerUtil.getDateFromParts(this.active)
      );
    },

    getCalendarLabel() {
      if (this.mode === MODE.MONTH)
        return this.active.year;

      return `${datePickerUtil.monthNamesLong[this.active.month - 1]} ${this.active.year}`;
    },

    getHeader() {
      return this.$dayjs(this.selected.date)
        .format("ddd, MMM D");
    },

    getText() {
      return this.$dayjs(this.selected.date)
        .format("dddd, MMMM D YYYY");
    }
  },

  methods: {
    setDay(entry, close) {
      if (entry.day === undefined) return;

      close();

      if (entry.date === this.selected.date) return;

      this.$set(this.$data, 'selected', {
        month: this.active.month,
        year: this.active.year,
        day: entry.day,
        weekday: entry.weekday,
        date: entry.date
      });

      this.$emit('change', entry.date);
    },

    setMonth(month) {
      this.active.month = month;
      this.mode = MODE.DATE;
    },

    setYear(year) {
      this.active.year = year;
      this.mode = MODE.MONTH;
    },

    next() {
      const comp = this.isMonth ?
        datePickerUtil.getMonthComponents(this.active.month, this.active.year + 1) :
        datePickerUtil.getNextMonthComponents(this.active.month, this.active.year);

      this.setActiveComponent(comp);
    },

    prev() {
      const comp = this.isMonth ?
        datePickerUtil.getMonthComponents(this.active.month, this.active.year - 1) :
        datePickerUtil.getNextMonthComponents(this.active.month, this.active.year);

      this.setActiveComponent(comp);
    },

    setActiveComponent({month, year, day}) {
      this.$set(this.$data, "active", {month, year, day});
    },

    changeMode() {
      if (this.isDate)
        this.mode = MODE.MONTH;
      else if (this.isMonth)
        this.mode = MODE.YEAR;
      else
        this.mode = MODE.DATE;
    }
  }
}
</script>

<style lang="scss" scoped>
.v-date-picker {
  &__header {
    @apply flex flex-row justify-between items-center text-gray-700;
  }

  &__heading, &__days {
    @apply grid grid-cols-7 gap-x-4;

    > div {
      @apply text-xs text-center;
    }
  }

  &__heading {
    > div {
      @apply font-bold text-gray-500 py-2;
    }
  }

  &__day {
    @apply inline-flex items-center justify-center rounded-full w-8 h-8;
    @apply text-gray-700 font-normal;
    @apply border border-solid border-transparent;
    @apply transition-colors duration-100 ease-in-out;

    &:not(.day-offset) {
      @apply hover:bg-gray-200 cursor-pointer ;
    }

    &.is-today {
      @apply border-blue-800;
    }

    &.is-selected {
      @apply bg-blue-800 text-white hover:bg-blue-800;
    }
  }

  &__years {
    @apply relative h-64 overflow-y-auto;

    li {
      @apply transition-colors duration-100 ease-in-out;
      @apply hover:bg-gray-200 cursor-pointer py-1;
      @apply block text-center font-normal text-base text-gray-600;

      &.is-active {
        @apply text-blue-800 font-medium text-2xl bg-blue-900 bg-opacity-10;
      }
    }
  }

  &__months {
    @apply grid grid-cols-3 gap-2;
  }

  &__month {
    @apply py-3 cursor-pointer hover:bg-gray-100 rounded;
    @apply text-center font-normal text-sm;
    @apply transition-colors duration-100 ease-in-out text-gray-600;

    &.is-active {
      @apply text-blue-800 font-medium;
      @apply bg-blue-900 bg-opacity-10;
    }
  }

  &__content {
    @apply text-xs py-2;
  }
}
</style>
