<template>
  <div class="v-modal-backdrop" :class="{ 'active': active }">
    <div :class="classes">
      <div class="v-modal__dialog">
        <div class="v-modal__content">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sizeable from "~/core/mixins/sizeable";

export default {
  name: "VModal",

  mixins: [
    Sizeable
  ],

  props: {
    active: Boolean,
    fullscreen: Boolean
  },

  computed: {
    classes() {
      return {
        'v-modal': true,
        'fullscreen': this.fullscreen,
        ...this.sizeableClasses
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-modal {
  @apply w-full h-full outline-none overflow-x-auto flex;

  &__dialog {
    max-width: 768px;
    @apply mx-auto relative w-auto pointer-events-none w-full;
    @apply my-4 relative;

    .x-small & {
      max-width: 380px;
    }

    .small & {
      max-width: 500px;
    }

    .large & {
      max-width: 1024px;
    }

    .fullscreen & {
      @apply w-full h-screen max-w-full my-0;
    }
  }

  &__content {
    @apply relative flex flex-col w-full pointer-events-auto outline-none rounded shadow;

    .v-card {
      @apply mb-0;
    }
  }

  &-backdrop {
    z-index: 99999;
    @apply fixed top-0 left-0 bottom-0 right-0 flex items-center justify-center bg-black bg-opacity-30 hidden;

    &.active {
      @apply block;
    }
  }
}
</style>
