<template>
  <VModal small
          :active="$store.state.showWalletCreateModal">
    <VCard form @submit.native.prevent="submit">

      <VCardHeader>
        <VCardTitle>Create Wallet</VCardTitle>
        <VCardSubtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam animi commodi
          consectetur cum dicta dolorem ducimus illum laboriosam mollitia.
        </VCardSubtitle>
      </VCardHeader>

      <VCardText :loading="isLoading">
        <VTextField :error-messages="validationErrors('Name')"
                    full-width id="namePost"
                    label="Name" v-model="name"/>

        <VGrid gap="4" cols="7">
          <div class="col-span-3">
            <VFormGroup :error="$v.currencyId.$error">
              <VLabel>Currency</VLabel>

              <VSelectCurrency :value="currencyId"
                               @change="setCurrency"></VSelectCurrency>

              <VMessages :messages="validationErrors('Currency', $v.currencyId)"></VMessages>
            </VFormGroup>
          </div>

          <div class="col-span-4">
            <VTextField :error-messages="validationErrors('Initial Balance', $v.currentBalance)"
                        rounded full-width
                        label="Initial Balance"
                        id="currentBalancePost"
                        v-model="currentBalance"/>
          </div>
        </VGrid>
      </VCardText>

      <VCardFooter>
        <VSimpleBtn rounded text
                    :disabled="isLoading"
                    @click.native="close">
          Cancel
        </VSimpleBtn>
        <VLoadableBtn rounded type="submit"
                      color="primary"
                      :loading="isLoading">
          Save
        </VLoadableBtn>
      </VCardFooter>

    </VCard>
  </VModal>
</template>

<script>
import { PostWalletRequest } from "~/core/validations/WalletRequest";
import Vuelidateable from "~/core/mixins/vuelidateable";
import { APPEND_TOASTER } from "~/core/utils/mutation-types";
import { WALLET_RESET } from "~/core/utils/Resetters";

const INITIAL_DATA = () => ({
  ...WALLET_RESET(),
  isLoading: false
})

export default {
  name: "VModalWalletPost",
  validations: PostWalletRequest,

  mixins: [
    Vuelidateable
  ],

  data: () => INITIAL_DATA(),

  methods: {
    async submit() {
      this.$v.$touch();

      if (this.$v.$error) return;

      try {
        this.isLoading = true;

        await this.$store.dispatch("wallet/postWallet", {
          name: this.name,
          currencyId: this.currencyId,
          currencyCode: this.currencyCode,
          currentBalance: this.currentBalance
        });

        await this.$store.commit(APPEND_TOASTER, {
          message: `Wallet ${this.name} successfully created.`
        });

        this.close();
      } catch (e) {

      } finally {
        this.isLoading = false;
      }
    },

    close() {
      Object.assign(this.$data, INITIAL_DATA());

      this.$v.$reset();
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showWalletCreateModal');
    },

    setCurrency(currency) {
      this.currencyId = currency.id;
      this.currencyCode = currency.code;
    }
  },
}
</script>
