<template>
  <VModal small>
    <VCard form @submit.native.prevent="submit">

      <VCardHeader>
        <VCardTitle>Edit Wallet</VCardTitle>
      </VCardHeader>

      <VCardText :loading="isLoading">
        <VTextField :error-messages="validationErrors('Name')"
                    rounded full-width
                    id="nameInput"
                    label="Name"
                    v-model="name"/>

        <div class="grid grid-cols-7 gap-4">
          <div class="col-span-3">
            <VSelect :error-messages="validationErrors('Currency')"
                     rounded full-width
                     label="Currency"
                     :options="[{ text: 'PHP', value: 'php' }]"
                     v-model="currency"/>
          </div>

          <div class="col-span-4">
            <VTextField :error-messages="validationErrors( 'Current Balance')"
                        rounded full-width
                        label="Current Balance"
                        id="currentBalanceInput"
                        v-model="currentBalance"/>
          </div>
        </div>
      </VCardText>

      <VCardFooter>
        <VSimpleBtn rounded text
                    :disabled="isLoading"
                    @click.native="close">
          Cancel
        </VSimpleBtn>
        <VLoadableBtn rounded type="submit"
                      color="primary"
                      :loading="isLoading">
          Update
        </VLoadableBtn>
      </VCardFooter>

    </VCard>
  </VModal>
</template>

<script>
import { PostWalletRequest } from "@/core/validations/WalletRequest";
import Vuelidateable from "@/core/mixins/vuelidateable";
import { APPEND_TOASTER } from "@/core/utils/mutation-types";
import { WALLET_RESET } from "@/core/utils/Resetters";

const INITIAL_DATA = () => ({
  ...WALLET_RESET(),
  isLoading: false
})

export default {
  name: "VModalWalletUpdate",
  validations: PostWalletRequest,

  props: {
    item: Object
  },

  mixins: [
    Vuelidateable
  ],

  data: () => INITIAL_DATA(),

  computed: {
    getCurrency() {
      return this.currency === ""
        ? "Select"
        : this.currency;
    }
  },

  methods: {
    async submit() {
      this.$v.$touch();

      if (this.$v.$error) return;
      this.isLoading = true;

      const userId = this.$store.state.user.uid;

      try {
        // await this.$store.dispatch('wallet/postWallet', {
        //   currency: this.currency,
        //   currentBalance: this.currentBalance,
        //   name: this.name,
        //   userId: userId,
        //   updatedAt: new Date(),
        //   transactionsCount: 0,
        //   users: {
        //     [userId]: 1
        //   }
        // });

        await this.$store.commit(APPEND_TOASTER, {
          message: `Wallet ${this.name} successfully updated.`
        });

        // this.close();
      } catch (e) {

      } finally {
        setTimeout(() => {
          this.isLoading = false;
        }, 1500)
      }
    },

    close() {
      Object.assign(this.$data, INITIAL_DATA());

      this.$v.$reset();
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showWalletCreateModal');
    }
  },
}
</script>
