<template>
  <VModal :active="$store.state.showTransactionCreateModal">
    <VCard form @submit.native.prevent="submit">
      <VCardHeader>
        <VCardTitle>Create Transaction</VCardTitle>
      </VCardHeader>

      <VCardText :loading="isLoading">
        <VFormGroup :error="$v.walletId.$error">
          <VLabel>From</VLabel>
          <VWallet @create="openCreateWalletModal" @selected="setWallet" :wallet-id="walletId"></VWallet>

          <LazyVMessages v-if="$v.walletId.$error"
                         :messages="validationErrors('Wallet', $v.walletId)"></LazyVMessages>
        </VFormGroup>

        <VGrid cols="3" gap="4">
          <VFormGroup :error="$v.currencyId.$error">
            <VLabel>Currency</VLabel>

            <VSelectCurrency v-model="currencyId" @change="setCurrency"></VSelectCurrency>

            <LazyVMessages v-if="$v.currencyId.$error"
                           :messages="validationErrors('Currency', $v.currencyId)"></LazyVMessages>
          </VFormGroup>

          <div class="col-span-2">
            <VTextField full-width
                        label="Amount" placeholder="1,000.00"
                        :error-messages="validationErrors('amount')" v-model="amount"/>
          </div>
        </VGrid>

        <VGrid cols="2" gap="4">
          <VFormGroup :error="$v.categoryId.$error">
            <VLabel>Category</VLabel>

            <VSelectCategory :value="categoryId" @change="setCategory"></VSelectCategory>

            <LazyVMessages v-if="$v.categoryId.$error"
                           :messages="validationErrors('Category', $v.categoryId)">
            </LazyVMessages>
          </VFormGroup>

          <VFormGroup>
            <VLabel>Tag</VLabel>
            <VSelectTag clearable @change="setTag" @clear="setTag" :value="tagId"></VSelectTag>
          </VFormGroup>

        </VGrid>

        <VGrid cols="2" gap="4">
          <VFormGroup :error="$v.transactionDate.$error">
            <VLabel>Transaction Date</VLabel>

            <LazyVDatePicker v-model="transactionDate"></LazyVDatePicker>

            <LazyVMessages v-if="$v.transactionDate.$error"
                           :messages="validationErrors('transactionDate')"></LazyVMessages>
          </VFormGroup>
        </VGrid>

        <VTextarea no-resize label="remarks"
                   :error-messages="validationErrors('remarks')" v-model="remarks"></VTextarea>
      </VCardText>

      <VCardFooter>
        <VSimpleBtn rounded elevation text
                    @click.native="toggleModal('showTransactionCreateModal')">Cancel
        </VSimpleBtn>
        <VLoadableBtn type="submit" rounded elevation color="primary" :disabled="$v.$error" :loading="isLoading">Save
        </VLoadableBtn>
      </VCardFooter>
    </VCard>
  </VModal>
</template>

<script>
import Vuelidateable from "~/core/mixins/vuelidateable";
import { PostTransactionRequest } from "~/core/validations/TransactionRequest";
import { TAG_RESET, TRANSACTION_RESET } from "~/core/utils/Resetters";
import { mapMutations } from "vuex";
import { APPEND_TOASTER } from "~/core/utils/mutation-types";

const INITIAL_DATA = () => ({
  isLoading: false,
  tab: "Expenses",
  ...TRANSACTION_RESET(),
  showDatePicker: false
});

export default {
  name: "VModalTransactionPost",

  validations: PostTransactionRequest,

  data: INITIAL_DATA,

  mixins: [
    Vuelidateable
  ],

  watch: {
    '$store.state.showTransactionCreateModal': function (value) {
      const transaction = value ? {...this.$store.state.transaction.active_item} : {...TRANSACTION_RESET()};

      Object.keys(transaction).forEach(entry => {
        this.$set(this.$data, entry, transaction[entry]);
      });

      if (!value) {
        this.$v.$reset();
      }
    }
  },

  methods: {
    ...mapMutations({
      toggleModal: "TOGGLE_GLOBAL_MODAL"
    }),

    async submit() {
      this.$v.$touch();

      if (this.$v.$error) return;

      try {
        this.isLoading = true;

        const data = {
          amount: Number(this.amount),
          categoryId: this.categoryId,
          categoryName: this.categoryName,
          remarks: this.remarks,
          transactionDate: this.transactionDate,
          walletId: this.walletId,
          walletName: this.walletName,
          currencyId: this.currencyId,
          currencyCode: this.currencyCode
        }

        if (this.tagId) {
          data.tagId = this.tagId;
          data.tagName = this.tagName;
        }

        await this.$store.dispatch("transaction/addTransaction", data);

        await this.$store.commit(APPEND_TOASTER, {
          message: "Transaction successfully created."
        });

        this.close();
      } catch (e) {

        console.log(e);
      } finally {
        this.isLoading = false
      }
    },

    openCreateWalletModal() {
      this.toggleModal('showTransactionCreateModal')
      this.toggleModal('showWalletCreateModal')
    },

    close() {
      Object.assign(this.$data, INITIAL_DATA());

      this.$v.$reset();
      this.toggleModal('showTransactionCreateModal')
    },

    setWallet(wallet) {
      this.walletId = wallet.id;
      this.walletName = wallet.name;
      this.currencyId = wallet.currencyId;
      this.currencyCode = wallet.currencyCode;
    },

    setCategory(category) {
      this.categoryId = category.id;
      this.categoryName = category.name;
    },

    setCurrency(currency) {
      this.currencyId = currency.id;
      this.currencyCode = currency.code;
    },

    setTag(tag = TAG_RESET()) {
      this.tagId = tag.id;
      this.tagName = tag.name;
    }
  }
}
</script>
