<template>
  <p class="v-page__subtitle">
    <slot></slot>
  </p>
</template>

<script>
export default {
  name: "VPageSubtitle"
}
</script>

<style lang="scss" scoped>
  .v-page__subtitle {
    @apply text-gray-500 text-base leading-tight;
  }
</style>
