<template>
  <h1 class="v-page__title">
    <slot></slot>
  </h1>
</template>

<script>
export default {
  name: "VPageTitle",

  props: {
    clickable: Boolean
  },
}
</script>

<style lang="scss" scoped>
.v-page__title {
  @apply font-medium text-xl leading-normal text-gray-700;
}
</style>
