<script>
export default {
  name: "VPageContent",

  render(createElement) {
    const VNodeData = {
      class: ""
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-page__content {

}
</style>
