<template>
  <div class="v-page__header">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "VPageHeader"
}
</script>

<style lang="scss" scoped>
.v-page__header {
  @apply mb-7
}
</style>
