<template>
  <div :class="classes"
       :style="BtnMixinStyles">
    <div class="flex flex-auto items-start pl-3.5 py-2.5 "
         @click="$emit('click', $event)" v-if="$slots.default">
      <slot></slot>
    </div>

    <div class="px-2 py-2.5" @click="$emit('clear', $event)" v-if="clearable">
      <fa-icon icon="times"></fa-icon>
    </div>

    <div class="pr-3.5 py-2.5" :class="[$slots.default ? 'pl-2': 'pl-3.5']" @click="$emit('click', $event)">
      <fa-icon icon="angle-down"/>
    </div>
  </div>
</template>

<script>
import BtnMixin from "~/components/VButton/BtnMixin";

export default {
  name: "VDropdownBtn",

  inject: ["sharedState"],

  mixins: [
    BtnMixin
  ],

  props: {
    clearable: Boolean
  },

  computed: {
    classes() {
      return {
        active: this.sharedState.active,
        ...this.BtnMixinClasses
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/VBtn";

.v-btn {
  @apply transform-none font-normal;
  @apply p-0 #{!important}
}
</style>
