<script>
import { Justify } from "~/core/utils/Variables";

export default {
  name: "VDropdownItem",

  props: {
    hoverable: {
      type: Boolean,
      default: true
    },
    active: Boolean,

    justify: {
      type: String,
      default: "start",
      validator(value) {
        return Justify.includes(value);
      }
    }
  },

  methods: {
    clickHandler(e) {
      this.$emit('click', e);
    }
  },

  render(createElement) {
    return createElement("div", {
      staticClass: "v-dropdown__item",
      class: {
        hoverable: this.hoverable,
        active: this.active,
        [`justify-${this.justify}`]: this.justify
      },
      on: {
        click: this.clickHandler
      }
    }, this.$slots.default)
  }
}
</script>

<style lang="scss" scoped>
.v-dropdown__item {
  @apply leading-normal text-sm text-gray-700 font-normal no-underline overflow-x-hidden whitespace-nowrap;
  @apply flex flex-row items-center;
  @apply px-3.5 py-1.5;

  &.hoverable {
    @apply hover:bg-gray-100 cursor-pointer;
  }

  &.active {
    @apply bg-gray-100;
  }
}
</style>
