<template>
  <div class="v-dropdown__content">
    <slot></slot>
  </div>
</template>

<script>

export default {
  name: "VDropdownContent",

  inject: ["sharedState"],
}
</script>

<style lang="scss" scoped>
.v-dropdown__content {
  @apply divide-y divide-gray-100 focus:outline-none flex-1;
}
</style>
