<template>
  <div :class="classes" v-click-outside="close">
    <div class="trigger-wrapper" ref="trigger">
      <slot name="activator" v-bind="activatorBinding"></slot>
    </div>

    <div class="v-dropdown-menu" :class="dropdownMenuClasses"
         ref="menuWrapper"
         :style="measurableStyles">
      <slot :close="close"></slot>
    </div>
  </div>
</template>

<script>
import Poppable from "~/core/mixins/poppable";
import Measurable from "~/core/mixins/measurable";

export default {
  name: "VDropdownOld",

  props: {
    rounded: Boolean,
    fullWidth: Boolean
  },

  mixins: [
    Poppable,
    Measurable
  ],

  computed: {
    classes() {
      return {
        "v-dropdown": true,
        "w-full": this.fullWidth,
        ...this.poppableClasses
      }
    },

    dropdownMenuClasses() {
      return {
        rounded: this.rounded,
        "w-full": this.fullWidth
      }
    },

    activatorBinding() {
      return {
        toggle: this.toggler,
        close: this.close,
        open: this.open,
        active: this.internalValue
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-dropdown {
  @apply relative flex;

  &.active {
    > .v-dropdown-menu {
      @apply block;
    }
  }

  .trigger-wrapper {
    display: inherit;
    @apply relative w-full;
  }

  &-menu {
    min-width: 190px;
    @apply border border-solid border-gray-300 hidden bg-white z-40;
    @apply py-0.5;
    @apply shadow-lg bg-white divide-y divide-gray-100 focus:outline-none flex-1;
  }
}

</style>
