<template>
  <div class="v-dropdown__wrapper" :style="measurableStyles">
    <slot></slot>
  </div>
</template>

<script>
import Measurable from "~/core/mixins/measurable";

export default {
  name: "VDropdownWrapper",

  mixins: [
    Measurable
  ]
}
</script>

<style lang="scss" scoped>
.v-dropdown__wrapper {
  min-width: 150px;
  @apply min-w-full border border-solid border-gray-300 bg-white rounded shadow-lg;
  @apply py-0.5;
}
</style>
