<template>
  <div class="v-dropdown" v-click-outside="close">
    <div ref="activator" class="v-dropdown__activator">
      <slot name="activator" v-bind="activatorBinding">
        <VDropdownBtn @click="toggle"
                      @clear="$emit('clear')"
                      :clearable="clearable" full-width>
          {{ title }}
        </VDropdownBtn>
      </slot>
    </div>

    <div class="v-dropdown__wrapper" ref="content" v-show="sharedState.active" :style="measurableStyles">
      <slot name="content" :close="close">
        <div @click="close">
          <slot></slot>
        </div>
      </slot>
    </div>
  </div>
</template>

<script>
import { createPopper } from "@popperjs/core";
import ClickOutside from "~/core/directives/ClickOutside";
import Measurable from "~/core/mixins/measurable";
import { PopperPlacement } from "~/core/utils/Variables";

export default {
  name: "VDropdown",

  mixins: [
    Measurable
  ],

  directives: {
    ClickOutside
  },

  props: {
    clearable: Boolean,
    title: String,

    placement: {
      type: String,
      default: "bottom-end",
      validator(value) {
        return PopperPlacement.includes(value);
      }
    },

    offset: {
      type: String,
      default: "6",
      validator(value) {
        return !isNaN(value);
      }
    }
  },

  provide() {
    return {
      sharedState: this.sharedState
    }
  },

  data: () => ({
    sharedState: {
      active: false
    },
    popperInstance: null
  }),

  computed: {
    activatorBinding() {
      return {
        toggle: this.toggle,
        close: this.close,
        open: this.open,
        active: this.sharedState.active
      }
    }
  },

  mounted() {
    const activator = this.$refs.activator;
    const content = this.$refs.content;

    this.popperInstance = createPopper(activator, content, {
      placement: this.placement,
      modifiers: [
        {
          name: 'eventListeners',
          enabled: true
        }, {
          name: 'offset',
          options: {
            offset: [0, Number(this.offset)],
          }
        }],
    });
  },

  methods: {
    toggle() {
      this.sharedState.active ? this.close() : this.open();
    },

    open() {
      this.sharedState.active = true;
      this.popperInstance.update();
    },

    close() {
      this.sharedState.active = false;
      this.$emit("close");
    }
  }
}
</script>

<style lang="scss" scoped>
.v-dropdown {
  @apply relative flex;

  &__wrapper {
    min-width: 150px;
    @apply border border-solid border-gray-300 bg-white rounded shadow-lg z-10;
    @apply py-0.5;
  }

  &__activator {
    @apply w-full flex;

    .v-btn {
      --tw-scale-x: 1;
      --tw-scale-y: 1;

      @apply font-normal #{!important};
    }
  }
}

.v-form-group.danger .v-dropdown__activator > * {
  @apply border-red-500 focus:border-red-600 focus:ring-red-500 focus:ring-opacity-40;
}
</style>
