<script>
export default {
  name: "VTabItem",

  props: {
    id: {
      type: String,
      required: true
    }
  },

  inject: ["sharedState"],

  computed: {
    classes() {
      return {
        'v-tab-item--active': this.isActive
      }
    },

    isActive() {
      return this.id === this.sharedState.value;
    }
  },

  render(createElement) {
    const VNodeData = {
      staticClass: "v-tab-item",
      class: this.classes,
    }
    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>
<style lang="scss" scoped>
.v-tab-item {
  @apply hidden;

  &--active {
    @apply block;
  }
}
</style>
