<script>
export default {
  name: "VTabItems",

  render(createElement) {
    return createElement("div", {
      staticClass: "v-tabs__items"
    }, [this.$slots.default])
  }
}
</script>

<style lang="scss" scoped>
.v-tabs__items {
  @apply overflow-y-auto;
}
</style>
