<script>
export default {
  name: "VTab",

  props: {
    target: {
      type: String,
      required: true
    }
  },

  inject: ['sharedState'],

  computed: {
    classes() {
      return {
        "v-tab--active": this.isActive
      }
    },

    isActive() {
      return this.target === this.sharedState.value;
    }
  },

  methods: {
    clickHandler() {
      this.$emit("click", this.target);
    }
  },

  render(createElement) {
    const VNodeData = {
      staticClass: "v-tab",
      class: this.classes,
      on: {
        click: this.clickHandler
      }
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-tab {
  margin-bottom: -2px;
  min-width: 90px;
  transition: background-color;

  @apply font-medium text-gray-500 uppercase no-underline transform-none outline-none tracking-wider text-sm leading-normal hover:text-gray-700;
  @apply bg-white px-3 py-1.5 whitespace-nowrap text-center relative;
  @apply flex items-center flex-auto justify-center;
  @apply hover:bg-gray-200 cursor-pointer max-w-xs border-b-2 border-solid border-transparent;
  @apply duration-100 ease-in-out;

  &--active {
    @apply border-gray-700 text-gray-700;
  }
}
</style>
