<template>
  <div class="v-tabs">
    <div class="v-tabs__wrapper" :class="classes">
      <slot name="tabs"></slot>
    </div>

    <slot>

    </slot>
  </div>
</template>

<script>
import Proxyable from "~/core/mixins/proxyable";
import { Justify } from "~/core/utils/Variables";
import Measurable from "~/core/mixins/measurable";

export default {
  name: "VTabs",

  props: {
    justify: {
      type: String,
      default: "start",
      validator(value) {
        return Justify.includes(value);
      }
    }
  },

  provide() {
    return {
      sharedState: this.sharedState
    }
  },

  mixins: [
    Proxyable,
    Measurable
  ],

  computed: {
    classes() {
      return {
        [`justify-${this.justify}`]: this.justify
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-tabs {
  @apply flex-auto w-full;

  &__wrapper {
    @apply flex flex-auto flex-row border-b-2 border-solid border-gray-200;
  }
}
</style>
