<template>
  <VModal :active="$store.state.showCategoryCreateModal" small>
    <VCard form @submit.native.prevent="submit">
      <VCardHeader>
        <VCardTitle>Create Category</VCardTitle>
      </VCardHeader>
      <VCardText :loading="isApiLoading">
        <VFormGroup :error="$v.categoryTypeId.$error">
          <div class="flex items-center gap-2 justify-center">
            <VSimpleBtn v-for="(id, name) in $store.getters['categoryType/getList']"
                        rounded small
                        :color="categoryTypeId === id ? 'dark' : 'default'"
                        :key="`btn-${id}`" @click.native="setCategoryType(id, name)">
              {{ name }}
            </VSimpleBtn>
          </div>
          <VMessages :messages="validationErrors('Type', $v.categoryTypeId)"></VMessages>
        </VFormGroup>

        <VTextField label="name" full-width
                    :error-messages="validationErrors('Name')"
                    v-model="name"></VTextField>

        <VFormGroup :error="$v.walletId.$error">
          <VLabel>Wallet</VLabel>

          <VSelectWallet :value="walletId"
                         @change="setWallet"
                         @create-wallet="openCreateWalletModal">
          </VSelectWallet>

          <VMessages :messages="validationErrors('Wallet', $v.walletId)"></VMessages>
        </VFormGroup>

        <VFormGroup>
          <VLabel>Parent</VLabel>

          <VSelectCategory @change="setParentCategory"
                           @clear="resetParentCategory"
                           :tabs="categoryTypeName ? [categoryTypeName] : undefined"
                           :value="parentId" clearable></VSelectCategory>
        </VFormGroup>
      </VCardText>
      <VCardFooter>
        <VSimpleBtn text rounded
                    :disabled="isApiLoading"
                    @click.native="$store.commit('TOGGLE_GLOBAL_MODAL', 'showCategoryCreateModal')">
          Cancel
        </VSimpleBtn>

        <VLoadableBtn rounded color="primary" type="submit"
                      :loading="isApiLoading"
                      :disabled="$v.$anyError">Save
        </VLoadableBtn>
      </VCardFooter>
    </VCard>
  </VModal>
</template>

<script>

import Vuelidateable from "~/core/mixins/vuelidateable";
import { PostCategoryRequest } from "~/core/validations/CategoryRequest";
import { CATEGORY_RESET } from "~/core/utils/Resetters";
import { APPEND_TOASTER } from "../../../core/utils/mutation-types";

const INITIAL_DATA = () => ({
  ...CATEGORY_RESET(),
  isApiLoading: false
});

export default {
  name: "VModalCategoryPost",
  validations: PostCategoryRequest,

  mixins: [
    Vuelidateable
  ],

  data: () => INITIAL_DATA(),

  watch: {
    '$store.state.showCategoryCreateModal': function (newVal, oldVal) {
      Object.assign(this.$data, INITIAL_DATA());

      if (oldVal) {
        this.$v.$reset();
      }
    },

    categoryTypeId(newVal, oldVal) {
      if (oldVal !== "") {
        this.resetParentCategory();
      }
    }
  },

  async mounted() {
    if (this.$store.getters["categoryType/isListEmpty"])
      await this.$store.dispatch("categoryType/getList");
  },

  methods: {
    async submit() {
      this.$v.$touch();

      if (this.$v.$error) return;

      try {
        this.isApiLoading = true;

        const data = {
          name: this.name,
          walletId: this.walletId,
          walletName: this.walletName,
          categoryTypeId: this.categoryTypeId,
          categoryTypeName: this.categoryTypeName
        }

        if (this.parentId) {
          data.parentId = this.parentId
          data.parentName = this.parentName
        }

        await this.$store.dispatch("category/postCategory", data);

        await this.$store.commit(APPEND_TOASTER, {
          message: `Category ${this.name} successfully created.`
        });

        this.close();
      } catch (e) {

      } finally {
        this.isApiLoading = false
      }
    },

    setWallet(wallet) {
      this.walletId = wallet.id;
      this.walletName = wallet.name;
    },

    setParentCategory(category) {
      this.parentId = category.id;
      this.parentName = category.name;

      this.setCategoryType(category.categoryTypeId, category.categoryTypeName)
    },

    resetParentCategory() {
      this.parentId = "";
      this.parentName = "";
    },

    setCategoryType(id, name) {
      this.categoryTypeId = id;
      this.categoryTypeName = name;
    },

    openCreateWalletModal() {
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showCategoryCreateModal');
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showWalletCreateModal');
    },

    close() {
      Object.assign(this.$data, INITIAL_DATA());

      this.$v.$reset();
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showCategoryCreateModal');
    }
  }
}
</script>
