<template>
  <VDropdown :title="getText" min-width="300px" @close="resetSearch">
    <template #activator="{ toggle }">
      <slot name="activator" :toggle="toggle">
        <VDropdownBtn full-width @click="toggle">
          <div v-if="!internalValue">
            {{ placeholder }}
          </div>
          <div v-else class="flex flex-row justify-between w-full">
            <span>{{ getSelected.name }}</span>
            <span class="text-gray-500">
              {{ $numberFormat(getSelected.currentBalance) }} {{ getSelected.currencyCode }}
            </span>
          </div>
        </VDropdownBtn>
      </slot>
    </template>
    <template #content="{ close }">
      <div class="px-3.5 py-2" v-if="!isListEmpty">
        <VInput small type="search" v-model.trim.lazy="search" placeholder="Search.."></VInput>
      </div>

      <VDropdownContent v-if="options.length">
        <VDropdownItem v-for="option in getFilteredOptions"
                       @click.native="selectedOption(option, close)"
                       :active="option.id === internalValue"
                       :key="option.id">
          <VListItemContent>
            <VListItemContentTitle>{{ option.name }}</VListItemContentTitle>
            <VListItemContentSubtitle>{{ option.currentBalance }} {{ option.currencyCode }}</VListItemContentSubtitle>
          </VListItemContent>

        </VDropdownItem>
      </VDropdownContent>

      <VDropdownContent v-else>
        <VDropdownItem :hoverable="false" justify="between">
          <span class="mr-4 font-medium">No Result</span>

          <VSimpleBtn @click.native="$emit('create-wallet')"
                      rounded small text
                      color="primary" v-if="isListEmpty">Create
          </VSimpleBtn>
        </VDropdownItem>
      </VDropdownContent>
    </template>

  </VDropdown>
</template>

<script>
import VSelectMixin from "../VSelectMixin";
import { mapGetters } from "vuex";

export default {
  name: "VSelectWallet",

  mixins: [
    VSelectMixin
  ],

  mounted() {
    if (this.isListEmpty) {
      this.fetchData();
    }
  },

  computed: {
    ...mapGetters("wallet", ["isListEmpty"]),

    options() {
      return this.$store.state.wallet.list;
    },

    getFilteredOptions() {
      if (this.search.trim().length <= 2)
        return this.options;

      return this.options
        .filter(entry => {
          return entry[this.dataText]
            .toLowerCase()
            .search(this.search.toLowerCase()) !== -1
        });
    }
  },

  methods: {
    async fetchData() {
      try {
        await this.$store.dispatch("wallet/bindWallet");

        this.isApiLoading = true;
      } catch (e) {

      } finally {
        this.isApiLoading = false;
      }
    }
  }
}
</script>
