<template>
  <VFormGroup :error="hasError">
    <LazyVLabel :required="required" :id="id" v-if="label">
      {{ label }}
    </LazyVLabel>

<!--    <VDropdown>-->
<!--      <template #activator="{ toggle, active, close }">-->
<!--        <VDropdownBtn full-width @click.native="toggle" :active="active" v-bind="getAttributes">-->
<!--          {{ getText }}-->
<!--        </VDropdownBtn>-->
<!--      </template>-->

<!--      <template #default="{close}">-->
<!--        <VList dense>-->
<!--          <VListItem v-for="option in options"-->
<!--                     :key="option.value"-->
<!--                     @click.native="selected(option, close)">-->
<!--            <VListItemContent>-->
<!--              <VListItemContentTitle>-->
<!--                {{ option.text }}-->
<!--              </VListItemContentTitle>-->
<!--            </VListItemContent>-->
<!--          </VListItem>-->
<!--        </VList>-->
<!--      </template>-->
<!--    </VDropdown>-->

    <LazyVMessages v-show="hasMessages" :messages="getMessages"/>
  </VFormGroup>
</template>

<script>
import VFormMixin from "~/components/VForm/VFormMixin";
import { find } from "lodash";

const optionDefaultKeys = ['text', 'value']

export default {
  name: "VSelect",

  mixins: [
    VFormMixin
  ],

  props: {
    options: {
      type: Array,
      validator(value) {
        return value.every(item => {
          return optionDefaultKeys.every(key => key in item);
        });
      }
    },

    clearable: Boolean
  },

  computed: {
    triggerClasses() {
      return {
        'v-form-control': true,
        'cursor-pointer': true,
        'w-full': this.fullWidth,
        ...this.roundedClasses
      }
    },

    getAttributes() {
      return {
        class: this.triggerClasses,
        disabled: this.disabled
      }
    },

    getText() {
      if (this.placeholder) {
        return this.placeholder;
      }

      if (this.getSelected) {
        return this.getSelected;
      }

      return "Select";
    },

    getSelected() {
      if (!this.value)
        return null;

      const selectedOption = find(this.options, {value: this.value});

      return selectedOption.text;
    },

    isClearable() {
      return this.clearable && this.value;
    }
  },

  methods: {
    clearOption(close) {
      this.$emit('input', null);
      close();
    },

    selected(option, close) {
      this.$emit('input', option.value);
      close();
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/VForm";
</style>
