<template>
  <VDropdown>
    <template #content="{ close }">
      <div class="px-3.5 py-1.5" v-if="options.length !== 0">
        <VInput small type="search" v-model.trim="search" placeholder="Search.."></VInput>
      </div>

      <VDropdownContent @click.native="close">
        <VDropdownItem v-for="option in options"
                       :key="option[dataValue]"
                       @click="selectedOption">
          {{ option[dataText] }}
        </VDropdownItem>
      </VDropdownContent>
    </template>
  </VDropdown>
</template>

<script>
import Proxyable from "~/core/mixins/proxyable";
import { has } from "lodash";

export default {
  name: "VSelectBeta",

  mixins: [
    Proxyable
  ],

  props: {
    dataValue: {
      type: String,
      required: false,
      default: "value"
    },

    dataText: {
      type: String,
      required: false,
      default: "text"
    },

    placeholder: {
      type: String,
      required: false,
      default: "Select"
    },

    options: {
      type: Array
    }
  },

  data: () => ({
    search: ""
  }),

  mounted() {
    const invalidDataKeys = this.options.some(entry => {
      return !has(entry, [this.dataText, this.dataValue])
    });

    if (invalidDataKeys) {
      console.error('[VSelect:] component missing option key.');
    }
  },

  computed: {
    getText() {
      if (this.getSelected)
        return this.getSelected[this.dataText]

      return this.placeholder
    },

    getSelected() {
      if (!this.internalValue)
        return undefined;

      return this.options.find(entry =>
        entry[this.dataValue] === this.internalValue
      );
    },

    getFilteredOptions() {
      if (this.search.length <= 2)
        return this.options;

      return this.options
        .filter(entry => {
          return entry[this.dataText]
            .toLowerCase()
            .search(this.search.toLowerCase())
        });
    }
  },

  methods: {
    resetSearch() {
      this.search = "";
    },

    selectedOption(selected) {
      this.resetSearch();
      this.$emit('change', selected)
    }
  }
}
</script>
