<template>
  <div class="v-pagination">
    <VSimpleBtn rounded small text>
      <fa-icon icon="angle-left"/>
    </VSimpleBtn>

    <VSimpleBtn rounded small text v-for="n in 4" :key="n"> {{ n }}</VSimpleBtn>
<!--    <VSimpleBtn rounded small text disabled>...</VSimpleBtn>-->

    <VSimpleBtn rounded small text>
      <fa-icon icon="angle-right"/>
    </VSimpleBtn>
  </div>
</template>

<script>
export default {
  name: "VPagination",

  props: {
    pagination: Object
  }
}
</script>

<style lang="scss" scoped>
.v-pagination {
  @apply flex items-center flex-row gap-1;
}
</style>
