<script>
import Colorable from "@/core/mixins/colorable";

export default {
  name: "Badge",

  props: {
    pill: Boolean
  },

  mixins: [
    Colorable
  ],

  computed: {
    classes() {
      return {
        'v-badge': true,
        'rounded-pill': this.pill,
        ...this.colorClasses
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    };

    return createElement("div", VNodeData, [this.$slots.default])
  }
}
</script>

<style lang="scss" scoped>
.v-badge {
  padding: .35em .65em;
  font-size: .75em;
  max-width: 120px;
  @apply inline-block rounded leading-none font-medium text-center align-baseline bg-gray-600 text-white whitespace-nowrap overflow-x-hidden overflow-ellipsis;

  &.rounded-pill {
    @apply rounded-full;
  }

  &.primary {
    @apply bg-blue-600;
  }

  &.success {
    @apply bg-green-700;
  }

  &.danger {
    @apply bg-red-600;
  }

  &.warning {
    @apply bg-yellow-400 text-gray-700;
  }

  &.secondary {
    @apply bg-gray-600;
  }
}

</style>
