<template>
  <nav class="nav">
    <VContainerFluid>
      <div class="flex flex-row justify-start">
        <!--        <div class="flex justify-center mr-5" style="min-width: 183px">-->
        <!--          <a href="#" class="flex items-center flex-row">-->
        <!--            &lt;!&ndash;            <img class="h-8 w-8"&ndash;&gt;-->
        <!--            &lt;!&ndash;                 src="https://semantic-ui.com/images/avatar2/large/elyse.png" alt="">&ndash;&gt;-->
        <!--            <span class="text-white font-light text-lg pl-2 hover:text-gray-200">Lorem Ipsum </span>-->
        <!--          </a>-->
        <!--        </div>-->

        <div class="flex flex-row items-center justify-start gap-1 flex-1">
          <VBtnGroup>
            <VSimpleBtn small
                        @click.native="$store.commit('TOGGLE_GLOBAL_MODAL', 'showTransactionCreateModal')"
                        :active="$store.state.showTransactionCreateModal">
              Add Transaction
            </VSimpleBtn>

            <VDropdown placement="bottom-start">
              <template #activator="{toggle}">
                <VTooltip placement="bottom" content="New...">
                  <VDropdownBtn @click.native="toggle" small class="rounded-tr rounded-br"/>
                </VTooltip>
              </template>

              <VDropdownContent>
                <VDropdownItem @click="TOGGLE_GLOBAL_MODAL('showWalletCreateModal')">
                  Add Wallet
                </VDropdownItem>

                <VDropdownItem @click="TOGGLE_GLOBAL_MODAL('showCategoryCreateModal')">
                  Add Category
                </VDropdownItem>
              </VDropdownContent>
            </VDropdown>

          </VBtnGroup>

          <form action="" class="search-input-container">
            <VDropdown offset="0">
              <template #activator="{open}">
                <div class="search-input-wrapper" @click="open">
                  <input type="text" class="search-input" placeholder="Search or jump to..">
                  <fa-icon icon="search" class="absolute right-2.5 text-sm" style="top: 9px"/>
                </div>
              </template>

              <VDropdownContent>
                <VDropdownItem>
                  <VListItemContentTitle>Lorem ipsum dolor sit amet</VListItemContentTitle>
                  <VListItemContentSubtitle>
                    facere inventore iste, itaque laborum minima neque rerum saepe sunt? Dolorem
                    doloribus esse excepturi quasi qui velit, voluptate
                  </VListItemContentSubtitle>
                </VDropdownItem>
              </VDropdownContent>
            </VDropdown>

          </form>
        </div>

        <div class="flex flex-row items-center justify-end gap-1 flex-1">
          <VDropdown placement="bottom-start">
            <template #activator="{ toggle }">
              <VDropdownBtn rounded dropdown small @click.native="toggle">
                <fa-icon icon="bell" class="text-base"/>
                <div class="rounded-full w-3 h-3 border-2 border-solid border-gray-900 absolute bg-red-600"
                     style="top: 4px; left: 20px;">
                </div>
              </VDropdownBtn>
            </template>

            <VDropdownContent>
              <VDropdownItem>Sample</VDropdownItem>
            </VDropdownContent>
          </VDropdown>

          <VDropdown>
            <template #activator="{ toggle }">
              <VDropdownBtn rounded dropdown small @click.native="toggle">
                <fa-icon icon="question-circle" class="text-base"/>
                <div class="rounded-full w-3 h-3 border-2 border-solid border-gray-900 absolute bg-gray-300"
                     style="top: 4px; left: 23px;"></div>
              </VDropdownBtn>
            </template>
          </VDropdown>

          <VDropdown placement="bottom-start">
            <template #activator="{ toggle }">
              <VDropdownBtn rounded small @click.native="toggle">
                <img class="w-6 h-6 rounded-full float-left align-middle"
                     src="https://semantic-ui.com/images/avatar2/large/elyse.png"/>

                <span class="ml-2 mr-1.5">Alex</span>
              </VDropdownBtn>
            </template>

            <VDropdownContent>
              <VListItemGroup>
                <VDropdownItem>
                  <VListItemContentTitle>Alexander Jeam Oro</VListItemContentTitle>
                  <VListItemContentSubtitle><span>@oroalej</span></VListItemContentSubtitle>
                </VDropdownItem>
              </VListItemGroup>

              <VListItemGroup>
                <VDropdownItem>Edit Profile</VDropdownItem>
                <VDropdownItem>Preferences</VDropdownItem>
              </VListItemGroup>

              <VListItemGroup>
                <VDropdownItem>Sign Out</VDropdownItem>
              </VListItemGroup>
            </VDropdownContent>
          </VDropdown>
        </div>
      </div>
    </VContainerFluid>

    <VToasterContainer v-if="$store.getters.showToaster">
      <VToaster filled
                v-for="toaster in $store.state.toasters"
                :color="toaster.status"
                :key="toaster.id" @click.native="removeToaster(toaster.id)">
        {{ toaster.message }}
      </VToaster>
    </VToasterContainer>

    <LazyVModalWalletPost/>
    <LazyVModalTransactionPost/>
    <LazyVModalCategoryPost/>

    <!--    <transaction-create-modal/>-->
    <!--    <wallet-create-modal/>-->
  </nav>
</template>

<script>
import { DELETE_TOASTER } from "~/core/utils/mutation-types";
import { mapMutations } from "vuex";

export default {
  name: "TheHeader",
  methods: {
    ...mapMutations({
      TOGGLE_GLOBAL_MODAL: "TOGGLE_GLOBAL_MODAL"
    }),
    removeToaster(id) {
      this.$store.commit(DELETE_TOASTER, id)
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn {
  @apply cursor-pointer text-gray-300;
  @apply hover:text-gray-50 hover:bg-opacity-10 hover:bg-white focus:ring-0 focus:ring-offset-0 border-0 bg-transparent;

  &.active {
    @apply bg-white text-gray-700;
  }
}

.search-input {
  @apply text-sm h-8 rounded w-full bg-white bg-opacity-20;
  @apply pl-2.5 pr-8 py-1.5 block outline-none focus:z-10;
  @apply focus:ring-4 focus:ring-white focus-within:ring-opacity-5 focus:bg-white;

  &-container {
    @apply w-full mx-2;
    max-width: 480px;
  }

  &-wrapper {
    @apply relative my-1.5 w-full;

    svg {
      @apply text-gray-400;
    }
  }
}

.nav {
  height: 40px;
  width: calc(100% - 224px);

  @apply bg-gray-900 flex items-center fixed top-0 z-10 py-1 ml-56;
}
</style>
