<template>
  <div class="sidebar">

    <VList>
      <VListItem>
        <VListItemIcon icon="tachometer-alt" />
        <VListItemContent>
          <VListItemContentTitle>Dashboard</VListItemContentTitle>
        </VListItemContent>
      </VListItem>

      <VListItem>
        <VListItemIcon icon="shopping-bag" />
        <VListItemContent>
          <VListItemContentTitle>Transactions</VListItemContentTitle>
        </VListItemContent>
      </VListItem>

      <VListItem>
        <VListItemIcon icon="wallet" />
        <VListItemContent>
          <VListItemContentTitle>Wallets</VListItemContentTitle>
        </VListItemContent>
      </VListItem>
    </VList>
  </div>
</template>

<script>
export default {
  name: "TheSidebar",
}
</script>

<style lang="scss" scoped>
.sidebar {
  @apply h-full w-56 bg-white fixed left-0 bottom-0 border-r border-solid border-gray-300;
}

.v-list-item {
  @apply py-2.5 border-t-0 bg-gray-50 hover:bg-gray-100;

  &.active {
    @apply bg-gray-100 hover:bg-gray-200;
  }
}
</style>
