<template>
  <VDropdown placement="bottom-start" :title="getText" min-width="300px" @close="resetSearch">
    <template #content="{ close }">
      <div class="px-3.5 py-1.5">
        <VInput small type="search" v-model.trim.lazy="search" placeholder="Search.."></VInput>
      </div>

      <VDropdownContent v-if="getFilteredOptions.length">
        <VDropdownItem v-for="currency in getFilteredOptions"
                       @click="selectedOption(currency, close)"
                       :active="currency.id === internalValue"
                       :key="currency.id">
          <VListItemIcon style="width: 33px">
            <nuxt-img :src="currency.icon" width="32" height="32"></nuxt-img>
          </VListItemIcon>

          <VListItemContent>
            <VListItemContentTitle>{{ currency.name }}</VListItemContentTitle>
            <VListItemContentSubtitle>{{ currency.code }} - {{ currency.abbr }}</VListItemContentSubtitle>
          </VListItemContent>

        </VDropdownItem>
      </VDropdownContent>

      <VDropdownContent v-else>
        <VDropdownItem :hoverable="false">
          <span class="w-full text-center mb-3">No Result</span>
        </VDropdownItem>
      </VDropdownContent>
    </template>

  </VDropdown>
</template>

<script>
import VSelectMixin from "../VSelectMixin";

export default {
  name: "VSelectCurrency",

  mixins: [
    VSelectMixin
  ],

  mounted() {
    if (this.$store.getters["currency/isListEmpty"]) {
      this.fetchData();
    }
  },

  computed: {
    options() {
      return this.$store.state.currency.list;
    },

    getFilteredOptions() {
      if (this.search.trim().length <= 2)
        return this.options;

      const q = this.search.toLowerCase();

      return this.options
        .filter(currency => {
          return currency.code.toLowerCase().search(q) !== -1 ||
            currency.name.toLowerCase().search(q) !== -1
        });
    }
  },

  methods: {
    async fetchData() {
      try {
        this.isApiLoading = true

        await this.$store.dispatch("currency/getList");
      } catch (e) {

      } finally {
        this.isApiLoading = false;
      }
    }
  }
}
</script>
