<template>
  <VDropdown placement="bottom-start" width="100%"
             @clear="$emit('clear')"
             :title="getText">
    <template #activator="{toggle, open}">
      <VDropdownBtn v-if="Boolean(internalValue)"
                    full-width
                    :clearable="clearable && Boolean(internalValue)"
                    @click="toggle"
                    @clear="$emit('clear')"> {{ getText }}</VDropdownBtn>
      <VInput v-else
              @click.native="open"
              :placeholder="placeholder"
              :disabled="isPostApiLoading"
              v-model.trim="search"></VInput>
    </template>

    <template #content="{ close }">
      <VDropdownContent v-if="getFilteredOptions.length > 0">
        <VDropdownItem v-for="tag in getFilteredOptions"
                       :key="`tag-${tag.id}`" @click="selectedOption(tag, close)">
          {{ tag.name }}
        </VDropdownItem>
      </VDropdownContent>

      <VDropdownContent v-else>
        <VDropdownItem :hoverable="false" justify="between">
          <span class="mr-4 font-medium">No Result</span>

          <VLoadableBtn @click.native="postTag(close)"
                        color="primary"
                        rounded small text :loading="isPostApiLoading">Create</VLoadableBtn>
        </VDropdownItem>
      </VDropdownContent>
    </template>
  </VDropdown>
</template>

<script>
import VSelectMixin from "../VSelectMixin";

export default {
  name: "VSelectTag",

  mixins: [
    VSelectMixin
  ],

  async mounted() {
    if (this.$store.getters["tag/isListEmpty"]) {
      await this.fetchData();
    }
  },

  data: () => ({
    isPostApiLoading: false
  }),

  computed: {
    options() {
      return this.$store.state.tag.list;
    },

    getFilteredOptions() {
      if (this.search.length <= 1)
        return this.options;

      return this.options
        .filter(entry => {
          return entry[this.dataText]
            .toLowerCase()
            .search(this.search.toLowerCase()) !== -1
        });
    }
  },

  methods: {
    async fetchData() {
      try {
        this.isApiLoading = true;

        // await this.$store.dispatch("tag/bindTag");

      } catch (e) {

      } finally {
        this.isApiLoading = false;
      }
    },

    async postTag(close) {
      try {
        this.isPostApiLoading = true;

        const newTag = await this.$store.dispatch("tag/postTag", {
          name: this.search
        });

        this.selectedOption(newTag, close);
      } catch (e) {

      } finally {
          this.isPostApiLoading = false;
      }
    }
  }
}
</script>
