<script>
export default {
  name: "VFormGroup",
  props: {
    error: Boolean,
  },

  computed: {
    classes() {
      return {
        'v-form-group': true,
        'danger': this.error
      }
    },
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    }

    const children = [
      this.$slots.default,
    ]

    return createElement("div", VNodeData, children);
  }
}
</script>

<style lang="scss" scoped>
.v-form-group {
  @apply relative mb-4;
}
</style>
