<template>
  <input v-bind="getAttributes"
         :value="value"
         @input="$emit('input', $event.target.value)">
</template>

<script>
import Sizeable from "~/core/mixins/sizeable";
import { factory as ProxyableFactory } from "../../core/mixins/proxyable";

const types = ["text", "number", "email", "password", "search"];

export default {
  name: "VInput",

  mixins: [
    ProxyableFactory("value", "input"),
    Sizeable
  ],

  props: {
    type: {
      type: String,
      default: "text",
      validator(value) {
        return types.includes(value);
      }
    },

    disabled: Boolean,
    fullWidth: Boolean,
    required: Boolean,
    placeholder: String,
    autocomplete: String,
    value: [String, Number],
  },

  computed: {
    classes() {
      return {
        "v-form-control": true,
        ...this.roundedClasses,
        ...this.sizeableClasses
      }
    },

    getAttributes() {
      return {
        id: this.id,
        placeholder: this.placeholder,
        class: this.classes,
        required: this.required,
        disabled: this.disabled,
        type: this.type,
        autocomplete: this.autocomplete
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/VForm";
</style>
