<template>
  <label :for="id" class="v-label">
    <slot></slot>
    <span class="text-red-600" v-if="required">*</span>
  </label>
</template>

<script>
export default {
  name: "VLabel",

  props: {
    required: Boolean,
    id: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.v-form-group label {
  @apply block mb-1.5 font-sans font-medium capitalize text-sm;
}
</style>
