<template>
  <div class="v-messages">
    <div class="v-messages__message"
         v-for="(error, index) in messages"
         :key="index + getUniqueKey(index)">
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  name: "VMessages",

  props: {
    messages: Array
  },

  methods: {
    getUniqueKey(index) {
      return (new Date()).getTime() + index;
    }
  }
}
</script>

<style lang="scss" scoped>
.v-messages {
  @apply mt-1 text-xs text-gray-400;

  .danger & {
    @apply text-red-600;
  }

  &__message {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    @apply leading-tight;
  }
}
</style>
