<template>
  <VFormGroup :error="hasError">
    <LazyVLabel :required="required" :id="id" v-if="label">
      {{ label }}
    </LazyVLabel>

    <input v-bind="getAttributes" :value="value" @input="$emit('input', $event.target.value)">

    <LazyVMessages v-if="hasMessages" :messages="getMessages"/>
  </VFormGroup>
</template>

<script>
import VFormMixin from "~/components/VForm/VFormMixin";

const types = ["text", "number", "email", "password", "search"]

export default {
  name: "TextField",

  mixins: [
    VFormMixin
  ],

  props: {
    type: {
      type: String,
      default: "text",
      validator(value) {
        return types.includes(value);
      }
    }
  },

  computed: {
    classes() {
      return {
        "v-form-control": true,
        ...this.roundedClasses
      }
    },

    getAttributes() {
      return {
        id: this.id,
        placeholder: this.placeholder,
        class: this.classes,
        required: this.required,
        disabled: this.disabled,
        type: this.type,
        autocomplete: this.autocomplete
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/VForm";
</style>
