<template>
  <VFormGroup :error="hasError">
    <LazyVLabel :required="required" :id="id" v-if="label">{{ label }}</LazyVLabel>

    <textarea v-bind="getAttributes"
              @input="$emit('input', $event.target.value)" :value="value"></textarea>

    <LazyVMessages v-if="hasMessages" :messages="getMessages"/>
  </VFormGroup>
</template>

<script>
import VFormMixin from "~/components/VForm/VFormMixin";

export default {
  name: "VTextarea",

  props: {
    rows: {
      type: String,
      default: "3",
      validator(value) {
        return !isNaN(value);
      }
    },

    noResize: Boolean
  },

  mixins: [
    VFormMixin
  ],

  computed: {
    classes() {
      return {
        'v-form-control': true,
        'resize-none': this.noResize
      }
    },

    getAttributes() {
      return {
        id: this.id,
        placeholder: this.placeholder,
        class: this.classes,
        rows: this.rows,
        required: this.required,
        disabled: this.disabled
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/VForm";
</style>
