.v-btn {
  z-index: 1;
  @apply inline-flex items-center flex-row capitalize outline-none whitespace-nowrap text-sm leading-none text-gray-700;
  @apply focus:ring-2 focus:ring-opacity-50 focus:ring-offset-1 hover:bg-gray-100 cursor-pointer;
  @apply px-3.5 py-2.5 transform border bg-white ring-blue-500 font-medium;

  &:active {
    --tw-scale-x: 1.015;
    --tw-scale-y: 1.015;
  }

  &:focus {
    z-index: 2;
  }

  @at-root {
    .v-form-group.danger {
      @apply border-red-500;
    }
  }

  &:disabled, &.disabled, &.loading {
    @apply opacity-60 cursor-not-allowed scale-100;
  }

  &.active {
    @apply scale-100 bg-gray-100 ring-2 ring-opacity-50 ring-offset-1;
  }

  &.primary {
    @apply bg-blue-800 text-white hover:bg-blue-900;

    &.outlined {
      @apply border-blue-800 text-blue-800 hover:text-white;
    }

    &.text {
      @apply text-blue-800 bg-white hover:bg-blue-100;

      &.active {
        @apply hover:bg-blue-900;
      }
    }

    &.active, &.show {
      @apply bg-blue-700 text-white;
    }
  }

  &.danger {
    @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-300;

    &.outlined {
      @apply border-red-600 text-red-800 hover:text-white;
    }

    &.text {
      @apply text-red-700 bg-white hover:bg-red-100;
    }

    &.active, &.show {
      @apply bg-red-700 text-white;
    }
  }

  &.success {
    @apply bg-green-700 text-white hover:bg-green-800 focus:ring-green-400;

    &.outlined {
      @apply border-green-600 text-green-800 hover:text-white;
    }

    &.text {
      @apply text-green-800 hover:bg-green-50;
    }

    &.active, &.show {
      @apply bg-green-700 text-white;
    }
  }

  &.warning {
    @apply bg-yellow-400 text-gray-700 hover:bg-yellow-500 focus:ring-yellow-200;

    &.outlined {
      @apply border-yellow-400 text-yellow-500 hover:text-gray-700;
    }

    &.text {
      @apply text-yellow-600 bg-white hover:bg-yellow-50;
    }

    &.active, &.show {
      @apply bg-yellow-400 text-gray-700;
    }
  }

  &.secondary {
    @apply bg-gray-500 text-white hover:bg-gray-600 focus:ring-gray-300;

    &.outlined {
      @apply border-gray-600 text-gray-700 hover:text-white;
    }

    &.text {
      @apply text-gray-700 bg-white hover:bg-gray-200;

      &.active {
        @apply hover:bg-gray-700;
      }
    }

    &.active, &.show {
      @apply bg-gray-600 text-white;
    }
  }

  &.dark {
    @apply bg-gray-800 text-white hover:bg-gray-900 focus:ring-gray-300;

    &.outlined {
      @apply border-gray-800 text-gray-800 hover:text-white;
    }

    &.text {
      @apply text-gray-800 bg-white hover:bg-gray-100;

      &.active {
        @apply hover:bg-gray-900;
      }
    }

    &.active, &.show {
      @apply bg-gray-700 text-white;
    }
  }

  &.outlined {
    @apply border border-solid bg-white;
  }

  &.text {
    @apply border-transparent shadow-none;
  }

  &.x-small {
    @apply text-xs px-2 py-0.5 h-7;
  }

  &.small {
    @apply text-sm px-3 py-1 h-8;
  }

  &.large {
    @apply text-lg;
  }

  &.x-large {
    @apply text-xl px-6 py-3;
  }
}
