.v-dropdown {
  @apply relative;

  &.active {
    > .v-dropdown-menu {
      @apply block;
    }
  }

  &-menu {
    min-width: 190px;
    @apply border border-solid border-gray-300 hidden bg-white z-40;
    @apply py-0.5;
    @apply rounded shadow-lg bg-white divide-y divide-gray-100 focus:outline-none;

    > .group {
      @apply py-1;
    }
  }

  &-group {
    @apply py-1.5;
  }
}
