.v-form-group.danger {
  > .v-form-control {
    @apply border-red-500 focus:border-red-600 focus:ring-red-500 focus:ring-opacity-40;
  }
}

.v-form {
  &-control {
    padding-top: 5px;
    padding-bottom: 5px;
    @apply px-2.5 block w-full outline-none border border-solid bg-white border-gray-200 font-normal;
    @apply focus:z-10 focus:ring-4 transition-shadow;
  }
}

