.v-list {
  @apply flex flex-col pl-0;
  //@apply rounded border border-solid border-gray-200;

  &-item {
    @apply flex flex-row relative px-4 py-2.5 border-t border-solid border-gray-200 font-sans bg-white text-gray-700;

    .dense &, &.dense {
      @apply text-sm px-4 py-1.5;
    }

    @at-root {
      a#{&} {
        @apply hover:bg-gray-100 cursor-pointer;
      }
    }

    &:first-child {
      @apply rounded-tl rounded-tr border-t-0;
    }

    &:last-child {
      @apply rounded-bl rounded-br;
    }

    &.disabled {
      @apply pointer-events-none text-gray-400
    }

    //&.active {
    //  @apply bg-blue-600 text-white hover:bg-blue-800;
    //
    //  .v-dropdown-menu & {
    //    @apply bg-white text-blue-900 hover:bg-blue-100;
    //  }
    //}

    > .icon {
      min-width: 24px;
      @apply inline-flex self-start my-1 mr-2;
    }

    > .content {
      @apply flex flex-wrap flex-1 self-stretch;

      .title {
        flex: 1 1 100%;
        font-size: 14px;
        @apply capitalize self-center overflow-ellipsis whitespace-nowrap overflow-hidden;
      }

      .subtitle {
        flex: 1 1 100%;
        @apply self-center text-gray-500 text-sm font-normal flex-wrap;
      }
    }

    > .action {
      min-width: 48px;
      @apply inline-flex self-center justify-end gap-1;
    }

    .v-dropdown-menu & {
      @apply border-0 rounded-none text-gray-700;
    }
  }
}
