.vertical {
  @apply flex flex-row;

  > div:first-child {
    @apply mr-2;
  }
}

.v-tabs {
  @apply flex flex-wrap list-none pl-0 border-b border-solid border-gray-200;

  .vertical & {
    @apply border-0;
  }

  &.button {
    @apply border-b-0 mb-3;
  }

  &.pointing {
    border-bottom-width: 2px;
    @apply mb-3;
  }
}

.v-tab-item {
  @apply bg-white text-gray-700 px-3 py-1.5 cursor-pointer whitespace-nowrap;

  .tabular & {
    @apply border-b border-solid border-gray-200;

    &.active {
      @apply border border-b-0 border-solid border-gray-200 rounded-tl rounded-tr;

      .vertical & {
        @apply text-blue-800;
      }
    }

    .vertical & {
      @apply border-0 rounded-none;
    }
  }

  .button & {
    @apply hover:bg-gray-200 mr-2 rounded;

    &.active {
      @apply bg-gray-200;
    }

    .vertical & {
      @apply flex-1;

      &:not(:first-child) {
        @apply mt-1;
      }
    }
  }

  .pointing & {
    margin-bottom: -2px;
    border-bottom-width: 2px;
    @apply font-normal border-gray-200 text-base;

    &.active {
      border-bottom-width: 2px;
      @apply text-gray-900 font-medium border-gray-900;
    }

    .vertical & {
      @apply flex-1;
    }
  }
}

.v-tab-content {
  @apply text-base font-normal leading-tight text-gray-700;
}
