.v-table {
  @apply w-full p-2 border-b border-solid border-gray-200 text-gray-700;

  tr {
    th {
      @apply text-gray-400 font-normal text-left;
    }

    td, th {
      @apply px-2.5 py-2 border-b border-solid border-gray-200;

      &:first-child {
        @apply pl-4;
      }

      &:last-child {
        @apply pr-4;
      }
    }
  }

  &-hover {
    tbody {
      tr:hover {
        @apply bg-gray-50;
      }
    }
  }

  &-striped {
    tbody {
      tr:nth-of-type(odd) {
        @apply bg-gray-50;
      }
    }
  }

  &-bordered {
    td, th {
      @apply border-l border-r;
    }
  }
}

.v-card {
  .v-table {
    @apply w-full border-t border-b border-solid border-gray-200;

    &-bordered {
      td:first-child, th:first-child {
        @apply border-l-0;
      }

      td:last-child, th:last-child {
        @apply border-r-0;
      }
    }
  }
}

