<script>
export default {
  name: "VToasterContainer",

  render(createElement) {
    const VNodeData = {
      class: "v-toaster__container"
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-toaster__container {
  z-index: 1;

  @apply fixed top-4 right-4 flex flex-col;
}
</style>
