<template>
  <div :class="classes" @click="$emit('remove')">
    <span class="loader" v-if="isLoaderTop"></span>
    <div class="v-toaster__header" v-if="$slots.header">
      <span class="v-toaster__title">
        <slot name="header"></slot>
      </span>
      <span class="v-toaster__helper" v-if="meta">{{ meta }}</span>
    </div>
    <div class="v-toaster__text">
      <slot></slot>
    </div>
    <span class="loader" v-if="isLoaderDefault"></span>
  </div>
</template>

<script>
import Colorable from "@/core/mixins/colorable";
import Roundable from "@/core/mixins/roundable";

export default {
  name: "VToaster",

  props: {
    loader: {
      type: [String, Boolean],
      validator(value) {
        if (value === '') return true
        if (typeof value === 'string')
          return ['top', 'bottom'].includes(value);

        return typeof value === 'boolean';
      }
    },
    meta: String,
    filled: Boolean
  },

  mixins: [
    Colorable,
    Roundable
  ],

  computed: {
    classes() {
      return {
        'v-toaster': true,
        'filled': this.filled,
        ...this.colorClasses,
        ...this.roundedClasses
      }
    },

    isLoaderTop() {
      return this.loader === 'top'
    },

    isLoaderDefault() {
      return this.loader === 'bottom'
        || this.loader === ''
    }
  }
}
</script>

<style lang="scss" scoped>
.v-toaster {
  @apply mb-1 text-gray-700 cursor-pointer pointer-events-auto w-80 shadow-md text-sm relative flex flex-col border border-b-0 border-gray-100 bg-white;

  &__header, &__text, &__action {
    @apply px-3 py-2;
  }

  &__header {
    @apply flex items-center justify-between;

    :not(.filled) > & {
      @apply border-b border-gray-100;
    }
  }

  &__title {
    @apply font-medium mb-0.5 leading-5 capitalize flex-1 text-sm;
  }

  &__action {
    @apply flex justify-end;
  }

  &__helper {
    @apply text-xs mr-1;
  }

  &.filled {
    &.danger {
      @apply bg-red-600 text-white border-red-700 border-opacity-50;
    }

    &.primary {
      @apply bg-blue-600 text-white border-blue-700 border-opacity-50;
    }

    &.success {
      @apply bg-green-600 text-white border-green-700 border-opacity-50;
    }
  }

  .loader {
    @apply w-full h-1 bg-gray-300;

    @at-root {
      .primary#{&} {
        @apply bg-blue-700;
      }

      .success#{&} {
        @apply bg-green-600;
      }

      .danger#{&} {
        @apply bg-red-700;
      }

      .warning#{&} {
        @apply bg-yellow-500;
      }
    }
  }
}

</style>
