<script>
export default {
  name: "VCardText",

  props: {
    loading: Boolean
  },

  computed: {
    classes() {
      return {
        'v-card__text': true,
        'opacity-60 pointer-events-none': this.loading
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-card__text {
  @apply px-4 py-3;
}
</style>
