<script>
import { Justify } from "@/core/utils/Variables";

export default {
  name: "VCardFooter",

  props: {
    justify: {
      type: String,
      default: "end",
      validator(value) {
        return Justify.includes(value);
      }
    }
  },

  computed: {
    classes() {
      return {
        'v-card__footer': true,
        [`justify-${this.justify}`]: this.justify,
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-card__footer {
  @apply bg-gray-50 flex gap-2 items-center px-4 py-3;
}
</style>
