<script>
export default {
  name: "VCardSubtitle",

  render(createElement) {
    const VNodeData = {
      class: "subtitle"
    }

    return createElement("p", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.subtitle {
  @apply text-gray-400 text-sm;
}
</style>
