<script>
export default {
  name: "VCardTitle",

  render(createElement) {
    const VNodeData = {
      class: "title"
    }

    return createElement("h3", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.title {
  @apply text-lg font-medium mb-1.5 leading-5;
}
</style>
