<script>
import Roundable from "~/core/mixins/roundable";
import Elevatable from "~/core/mixins/elevatable";

export default {
  name: "VCard",

  mixins: [
    Roundable,
    Elevatable
  ],

  props: {
    hoverable: Boolean,
    active: Boolean,

    form: Boolean
  },

  computed: {
    classes() {
      return {
        'v-card': true,
        'hover:bg-gray-100 cursor-pointer': this.hoverable,
        'bg-gray-100': this.active,
        ...this.roundedClasses,
        ...this.elevationClasses
      }
    }
  },

  render(createElement) {
    const el = this.form ? "form" : "div";

    const VNodeData = {
      class: this.classes
    }

    return createElement(el, VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-card {
  @apply relative flex flex-col border border-gray-200 bg-white;
}
</style>
