<script>
export default {
  name: "VCardHeader",

  computed: {
    classes() {
      return {
        'v-card__header': true,
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-card__header {
  @apply px-4 py-3 border-solid border-b border-gray-200 font-sans text-gray-700;
}
</style>
