<template>
  <div>

  </div>
</template>

<script>
const TableHeader = [
  {
    text: 'Date',
    align: 'start',
    value: 'transaction_date',
    width: "140",
    filterable: true
  },
  {
    text: '',
    value: 'remarks',
    sortable: false
  },
  {
    text: 'Category',
    value: 'category.name',
    width: "180",
    filterable: true
  },
  {
    text: 'Amount',
    value: 'amount',
    width: "150",
    filterable: true
  },
];

export default {
  name: "show",
  async asyncData({ params }) {
    const id = params.id;

    return {
      id
    }
  },
  data: () => ({
    TableHeader: TableHeader,
    search: "",
    selectData: [
      {
        text: "Selling",
        value: 1
      },
      {
        text: "Gas",
        value: 2
      }
    ],
  })
}
</script>

<style scoped>

</style>
