<template>
  <VContainer>
    <VPageHeader>
      <div class="flex flex-row items-center gap-6">
        <VPageTitle>Your Wallets</VPageTitle>

        <VSimpleBtn rounded elevation color="primary"
                    @click.native="$store.commit('TOGGLE_GLOBAL_MODAL', 'showWalletCreateModal')">
          <fa-icon icon="plus"/>
          <span class="ml-1.5">New Wallet</span>
        </VSimpleBtn>
      </div>
    </VPageHeader>

    <VPageContent>
      <VGrid cols="12" gap="4">
        <div class="col-span-3">
          <VCard v-for="wallet in $store.getters['wallet/getList']" :key="wallet.id" class="mb-2">
            <VCardHeader class="flex justify-between items-start">
              <div>
                <VCardSubtitle>Name</VCardSubtitle>
                <VCardTitle class="cursor-pointer">{{ wallet.name }}</VCardTitle>

                <div class="flex flex-row items-end justify-start gap-1 mt-6">
                  <p
                    class="uppercase bg-gray-700 rounded px-2.5 py-2 text-gray-200 text-xl inline-block inline-flex items-center leading-none">
                    {{ $numberFormat(wallet.currentBalance) }}
                  </p>
                  <p class="uppercase bg-gray-700 rounded px-2.5 py-1 text-sm text-gray-200 inline-block">
                    {{ wallet.currencyCode }}
                  </p>
                </div>
              </div>

              <div class="inline-flex flex-row gap-1">
                <VTooltip content="View" placement="bottom">
                  <VSimpleBtn small rounded text @click="setActive(wallet)">
                    <fa-icon icon="eye"/>
                  </VSimpleBtn>
                </VTooltip>

                <VTooltip content="Edit" placement="bottom">
                  <VSimpleBtn small rounded text @click.native="">
                    <fa-icon icon="pen"/>
                  </VSimpleBtn>
                </VTooltip>

                <VTooltip content="Delete" placement="bottom">
                  <VSimpleBtn small rounded text>
                    <fa-icon icon="trash"/>
                  </VSimpleBtn>
                </VTooltip>
              </div>
            </VCardHeader>
          </VCard>
        </div>

        <div class="col-span-9">
          <VCard>
            <VCardText>
              <div class="flex flex-col justify-between">
                <VCardTitle>Sally Herman Details</VCardTitle>
                <VCardSubtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci architecto
                  beatae dicta enim eos error facere incidu.
                </VCardSubtitle>
              </div>
            </VCardText>
            <table class="v-table">
              <colgroup>
                <col>
                <col width="150px">
                <col width="120px">
              </colgroup>

              <tbody>
              <tr v-for="transaction in $store.getters['transaction/getList']" :key="transaction.id">
                <td class="leading-tight">
                  <a href="" class="block font-medium text-sm flex-none hover:underline">
                    {{ transaction.remarks }}
                  </a>
                  <div class="text-sm text-gray-500 font-normal">
                    <span class="text-gray-500 font-normal">{{ transaction.categoryName }}</span>
                  </div>
                </td>
                <td class="text-center">
                  <!--                <v-badge v-if="transaction.tagName">{{ transaction.tagName }}</v-badge>-->
                </td>
                <td class="whitespace-nowrap text-gray-700 text-right">
                  <span class="font-medium">+ {{ transaction.amount }}</span>
                  <span class="font-bold">{{ transaction.currency }}</span>
                </td>
              </tr>
              </tbody>
            </table>
            <VCardFooter justify="between">
              <div class="flex flex-row items-center">
                <VDropdown title="10">
                  <VDropdownContent>
                    <VDropdownItem>10</VDropdownItem>
                    <VDropdownItem>25</VDropdownItem>
                    <VDropdownItem>50</VDropdownItem>
                  </VDropdownContent>
                </VDropdown>

                <span class="font-normal text-sm text-gray-600 ml-2">
                  Results: 1 - 15 of 324
                </span>
              </div>

              <VPagination/>
            </VCardFooter>
          </VCard>
        </div>
      </VGrid>
    </VPageContent>
  </VContainer>
</template>

<script>
import { WALLET_RESET } from "@/core/utils/Resetters";

const transactions = [
  {
    currency: "PHP",
    amount: "61,820.51",
    id: "Opnel5aKBz",
    remarks: "Pork belly tri-tip tenderloin",
    walletName: "BPI Savings",
    categoryName: "Grocery"
  },
  {
    currency: "USD",
    amount: "200.00",
    id: "Opnel5aKBz1",
    remarks: "Shank ground round pancetta boudin",
    walletName: "BPI Savings",
    categoryName: "Entertainment"
  },
  {
    currency: "PHP",
    amount: "8,000.00",
    id: "Opnel5aKBz2",
    remarks: "lorem Ipsum",
    walletName: "BPI Savings",
    categoryName: "Bills & Utilities",
    tagName: "Ipsum"
  },
  {
    currency: "PHP",
    amount: "100.00",
    id: "Opnel5aKBz3",
    remarks: "meatball andouille sirloin bacon",
    walletName: "BPI Savings",
    categoryName: "Shopping",
  },
  {
    currency: "PHP",
    amount: "99.00",
    id: "Opnel5aKBz6",
    remarks: "meatball sirloin bacon",
    walletName: "BPI Savings",
    categoryName: "Shopping",
    tagName: "Lorem"
  },
  {
    currency: "PHP",
    amount: "4,000.00",
    id: "Opnel5aKBz5",
    remarks: "sirloin bacon",
    walletName: "BPI Savings",
    categoryName: "Shopping",
  }
];

const initialData = () => ({
  showCreateDialogBox: false,
  transactions,
  active: WALLET_RESET(),

  showEditWalletModal: false,
  tab: "Expenses",

  isListWalletApiLoading: false
})

export default {
  name: "index",
  data: () => initialData(),

  async mounted() {
    await this.$store.dispatch('wallet/bindWallet');
  },

  watch: {
    "active.id": function (newVal, oldVal) {
      if (newVal && newVal !== oldVal)
        this.$store.dispatch("transaction/getWalletTransaction", this.active.id);
    }
  },

  methods: {
    setActive(wallet) {
      this.$set(this.$data, "active", wallet);
    }
  }
}
</script>
