<template>
  <div class="v-tooltip-container">
    <div class="v-tooltip-trigger" ref="tooltipTrigger">
      <slot></slot>
    </div>

    <div>
      <div class="v-tooltip" ref="tooltipWrapper">
        {{ content }}
      </div>
    </div>
  </div>
</template>

<script>
import { createPopper } from "@popperjs/core";

export default {
  name: "Tooltip",

  props: {
    placement: {
      type: String,
      default: "right",
      required: false
    },
    content: String
  },

  data: () => ({
    popperInstance: null
  }),

  mounted() {
    this.popperInstance = createPopper(this.$refs.tooltipTrigger, this.$refs.tooltipWrapper, {
      placement: this.placement
    });

    this.$refs.tooltipTrigger.addEventListener("mouseenter", this.show);
    this.$refs.tooltipTrigger.addEventListener("mouseleave", this.hide);
  },

  methods: {
    show() {
      this.$refs.tooltipWrapper.setAttribute('data-show', '');

      this.popperInstance.setOptions({
        modifiers: [
          {name: 'eventListeners', enabled: true},
          {name: 'offset', options: {offset: [0, 7]}}
        ],
      });

      this.popperInstance.update();
    },

    hide() {
      this.$refs.tooltipWrapper.removeAttribute('data-show');
    }
  }
}
</script>

<style lang="scss" scoped>
.v-tooltip {
  @apply bg-gray-800 text-gray-100 font-medium px-2 py-1 text-xs rounded hidden z-50 capitalize;

  &[data-show] {
    @apply block;
  }

  &-container, &-trigger {
    display: inherit;
  }
}
</style>
