<template>
  <div class="v-application--wrap">
    <TheHeader/>
    <TheSidebar/>

    <div class="v-main">
      <div class="v-main__wrap">
        <nuxt/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "default"
}
</script>

<style lang="scss" scoped>
.v-application--wrap {
  @apply relative max-w-full min-h-screen flex-col flex flex-auto
}

.v-main {
  flex: 1 0 100%;
  padding-top: 44px;
  padding-left: 224px;

  @apply flex max-w-full;

  &__wrap {
    @apply relative max-w-full flex-auto
  }
}
</style>
