<template>
  <div>

  </div>
</template>

<script>
import { TRANSACTION_RESET } from "@/core/utils/Resetters";

export default {
  name: "show",
  data: () => ({
    transaction: TRANSACTION_RESET()
  }),
  asyncData({params}) {
    const id = params.id
    return {id}
  },
  mounted() {
    this.$store
      .dispatch("transaction/getTransaction", {
        id: this.id
      }).then(response => {
      this.$set(this, "transaction", response.data());
    });
  }

}
</script>

<style scoped>

</style>
