<template>
<!--  <div class="v-container__fluid limit-container-width">-->
<!--    <div class="mb-4">-->
<!--      <h1 class="font-medium text-lg">Transactions</h1>-->
<!--      <h4 class="text-sm text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim expedita-->
<!--        mollitia-->
<!--        natus sunt vitae? Accusantium-->
<!--        animi architecto blandi</h4>-->
<!--    </div>-->

<!--    <v-card>-->
<!--      <v-card-header class="flex justify-between">-->

<!--        <div class="flex gap-2">-->
<!--          <v-dropdown>-->
<!--            <template #activator="{toggle, active}">-->
<!--              <v-btn dropdown rounded small @click.native="toggle" :active="active">10</v-btn>-->
<!--            </template>-->

<!--            <v-list dense bordered>-->
<!--              <v-list-item>-->
<!--                <div class="content">-->
<!--                  <div class="title">5</div>-->
<!--                </div>-->
<!--              </v-list-item>-->
<!--              <v-list-item>-->
<!--                <div class="content">-->
<!--                  <div class="title">10</div>-->
<!--                </div>-->
<!--              </v-list-item>-->
<!--              <v-list-item>-->
<!--                <div class="content">-->
<!--                  <div class="title">15</div>-->
<!--                </div>-->
<!--              </v-list-item>-->
<!--              <v-list-item>-->
<!--                <div class="content">-->
<!--                  <div class="title">25</div>-->
<!--                </div>-->
<!--              </v-list-item>-->
<!--              <v-list-item>-->
<!--                <div class="content">-->
<!--                  <div class="title">50</div>-->
<!--                </div>-->
<!--              </v-list-item>-->
<!--            </v-list>-->
<!--          </v-dropdown>-->
<!--        </div>-->

<!--        <div class="flex gap-4">-->
<!--          <v-dropdown>-->
<!--            <template #trigger>-->
<!--              <v-btn dropdown rounded small>Tags</v-btn>-->
<!--            </template>-->
<!--          </v-dropdown>-->

<!--          <v-dropdown class="">-->
<!--            <template #trigger>-->
<!--              <input type="text" class="v-form-control rounded small" style="width: 250px"-->
<!--                     placeholder="Search by notes">-->
<!--            </template>-->
<!--          </v-dropdown>-->

<!--          <v-btn rounded color="primary" small>Export Excel</v-btn>-->
<!--        </div>-->
<!--      </v-card-header>-->

<!--      <table class="v-table">-->
<!--        <colgroup>-->
<!--          <col>-->
<!--          <col width="150px">-->
<!--          <col width="120px">-->
<!--          <col width="120px">-->
<!--        </colgroup>-->
<!--        <tbody>-->
<!--        <component v-for="transaction in $store.state.transaction.list"-->
<!--                   :key="transaction.id"-->
<!--                   :is="getRowComponent(transaction)"-->
<!--                   v-bind="getGetComponentData(transaction)">-->
<!--        </component>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <v-card-footer justify="between">-->
<!--        <div class="text-sm text-gray-600">-->
<!--          Showing<span class="px-0.5">1</span>to<span class="px-0.5">10</span>of<span class="px-0.5">120</span>-->
<!--          entries-->
<!--        </div>-->

<!--        <div class="flex gap-1">-->
<!--          <v-btn rounded small text>-->
<!--            <fa-icon icon="angle-left"/>-->
<!--          </v-btn>-->
<!--          <v-btn rounded small text v-for="n in 3" :key="n"> {{ n }}</v-btn>-->
<!--          <v-btn rounded small text disabled>...</v-btn>-->
<!--          <v-btn rounded small text active color="secondary"> 4</v-btn>-->
<!--          <v-btn rounded small text disabled>-->
<!--            <fa-icon icon="angle-right"/>-->
<!--          </v-btn>-->
<!--        </div>-->
<!--      </v-card-footer>-->

<!--    </v-card>-->
<!--  </div>-->
</template>

<script>
// import { VCard, VCardFooter, VCardHeader, VCardText } from "@/components/VCard";
// import VBtn, { VBtnClose } from "@/components/VBtn";
// import { VFormGroup, VLabel } from "@/components/VForm";
// import VDropdown from "@/components/VDropdown";
// import VList, { VListItem } from "@/components/VList";
// import VModal from "@/components/VModal";
// import TransactionIndexRowData from "@/components/VTable/Custom/TransactionIndexRowData";
// import TransactionIndexRowHeader from "@/components/VTable/Custom/TransactionIndexRowHeader";

const initialData = () => ({});

export default {
  name: "index",

  // components: {
  //   VCard, VCardHeader, VCardFooter, VCardText,
  //   VBtn, VBtnClose,
  //   VLabel,
  //   VDropdown,
  //   VList, VListItem,
  //   VFormGroup,
  //   VModal,
  //
  //   TransactionIndexRowHeader,
  //   TransactionIndexRowData
  // },

  data: () => initialData(),

  created() {
    this.$store.dispatch("transaction/bindTransactions", {
      userId: this.$store.state.user.uid
    })
  },

  beforeRouteLeave() {
    this.$store.dispatch("transaction/bindTransactions");
  },

  methods: {
    getRowComponent(transaction) {
      return 'TransactionIndexRowData';
      // return n % 2 === 0 ? 'TransactionIndexRowData' : 'TransactionIndexRowHeader'
    },
    getGetComponentData(transaction) {
      return {
        id: transaction.id,
        ...transaction
      }
    }
  }
}
</script>

<style lang="scss">

</style>
