<template>
<!--  <div class="px-6 py-5">-->
<!--    <v-card>-->
<!--      <v-card-header>-->
<!--        <h1 class="title">Fugit illum</h1>-->
<!--        <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit id illum iure laboriosam obcaecati</span>-->
<!--      </v-card-header>-->
<!--      <v-card-text>-->
<!--        <v-form-group description="test" :errors="['The lorem field is required']">-->
<!--          <v-label for="lorem" required>Lorem Ipsum</v-label>-->
<!--          <input id="lorem" type="text" placeholder="dolor sit amet" class="v-form-control">-->
<!--        </v-form-group>-->

<!--        <v-form-group color="danger">-->
<!--          <v-label for="solana">Solana</v-label>-->
<!--          <textarea id="solana" rows="2" class="v-form-control resize-none"></textarea>-->
<!--        </v-form-group>-->

<!--        <v-form-group color="success" :errors="['consectetur adipisicing elit. Fugit id illum iure']">-->
<!--          <v-label for="inputGroupLeft" required>dignissim</v-label>-->
<!--          <v-input-group>-->
<!--            <span class="v-input-group-text">https://example.com/users/</span>-->
<!--            <input id="inputGroupLeft" type="text" placeholder="dolor sit amet" class="v-form-control">-->
<!--            <span class="v-input-group-text">.com</span>-->
<!--          </v-input-group>-->
<!--        </v-form-group>-->

<!--      </v-card-text>-->
<!--      <v-card-footer class="gap-2">-->
<!--        <v-btn color="secondary" rounded elevation text>Cancel</v-btn>-->
<!--        <v-btn color="primary" rounded elevation>Save</v-btn>-->
<!--      </v-card-footer>-->
<!--    </v-card>-->

<!--    <div class="v-card">-->
<!--      <table class="table table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">scelerisque</th>-->
<!--          <th scope="col">viverra</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <td>mauris</td>-->
<!--          <td>augue</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->

<!--      <div class="v-card__text">-->
<!--        <div class="v-form-group">-->
<!--          <label for="category">Consectetur: </label>-->
<!--          <select id="category" class="v-form-control">-->
<!--            <option value="">Obcaecati iure</option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="v-form-group">-->
<!--          <label>dignissim: </label>-->
<!--          <div class="v-input-group rounded">-->
<!--            <span class="v-input-group-text">https://example.com/users/</span>-->
<!--            <input type="text" placeholder="dolor sit amet" class="v-form-control">-->
<!--            <span class="v-input-group-text">.com</span>-->
<!--            <input type="text" placeholder="dolor sit amet" class="v-form-control">-->
<!--            <span class="v-input-group-text">.com</span>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="v-form-group">-->
<!--          <label for="inputGroupRight">pulvinar: </label>-->
<!--          <div class="v-input-group">-->
<!--            <input id="inputGroupRight" type="text" placeholder="condimentum nisl" class="v-form-control">-->
<!--            <span class="v-input-group-text">@example.com</span>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="v-form-group">-->
<!--          <label>pulvinar: </label>-->
<!--          <div class="v-input-group">-->
<!--            <span class="v-input-group-text">@example.com</span>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="v-form-group">-->
<!--          <label for="inputGroupRightButton">pulvinar: </label>-->
<!--          <div class="v-input-group rounded">-->
<!--            <input id="inputGroupRightButton" type="text" placeholder="condimentum nisl"-->
<!--                   class="v-form-control">-->
<!--            <v-btn color="danger" active>Action</v-btn>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="v-form-group">-->
<!--          <label for="inputGroupTextarea">Pellentesque: </label>-->
<!--          <div class="v-input-group rounded">-->
<!--            <span class="v-input-group-text">With textarea</span>-->
<!--            <textarea id="inputGroupTextarea" rows="2" class="v-form-control"></textarea>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <v-card-footer class="gap-2">-->
<!--        <v-btn color="secondary" elevation rounded text>Cancel</v-btn>-->
<!--        <v-btn color="primary" rounded elevation></v-btn>-->
<!--      </v-card-footer>-->
<!--    </div>-->

<!--    &lt;!&ndash;  ALERT  &ndash;&gt;-->
<!--    <div class="py-4">-->
<!--      <v-alert color="success">-->
<!--        <div class="title">Nostrum</div>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, eius, nostrum.-->
<!--        <hr>-->
<!--        <div class="actions">-->
<!--          <button class="v-btn rounded shadow secondary block">-->
<!--            Continue-->
<!--          </button>-->
<!--        </div>-->
<!--      </v-alert>-->
<!--    </div>-->

<!--    &lt;!&ndash;  TEXT-FIELD  &ndash;&gt;-->
<!--    <div class="flex py-4 gap-4">-->
<!--      <div class="v-form-group">-->
<!--        <input type="text" class="v-form-control small rounded" placeholder="Small">-->
<!--      </div>-->

<!--      <div class="v-form-group">-->
<!--        <input type="text" class="v-form-control rounded" placeholder="Normal">-->
<!--      </div>-->

<!--      <div class="v-form-group">-->
<!--        <input type="text" class="v-form-control large rounded" placeholder="Large">-->
<!--      </div>-->

<!--      <div class="v-form-group">-->
<!--        <input type="text" class="v-form-control big rounded" placeholder="Big">-->
<!--      </div>-->

<!--      <div class="v-form-group">-->
<!--        <input type="text" class="v-form-control huge rounded" placeholder="Huuuge">-->
<!--      </div>-->

<!--      <div class="v-form-group">-->
<!--        <input type="text" class="v-form-control massive rounded" placeholder="Massive">-->
<!--      </div>-->

<!--    </div>-->

<!--    <div class="flex gap-4 flex-col">-->
<!--      <div class="v-form-group">-->
<!--        <label>pulvinar: </label>-->
<!--        <div class="v-input-group">-->
<!--          <input type="text" placeholder="Large" class="v-form-control large">-->
<!--          <span class="v-input-group-text">@example.com</span>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="v-form-group">-->
<!--        <label>pulvinar: </label>-->
<!--        <div class="v-input-group">-->
<!--          <input type="text" placeholder="Large" class="v-form-control massive">-->
<!--          <button class="v-btn danger">Action</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;  BUTTONS  &ndash;&gt;-->
<!--    <div class="py-4">-->
<!--      <v-btn disabled color="primary" rounded elevation type="button">Primary Disabled</v-btn>-->
<!--      <v-btn color="danger" rounded elevation type="submit" outline>Danger Outline</v-btn>-->
<!--      <v-btn color="success" rounded text>Success Text</v-btn>-->
<!--      <v-btn color="warning">-->
<!--        <fa-icon icon="user" class="mr-1"></fa-icon>-->
<!--        sollicitudin-->
<!--      </v-btn>-->

<!--      <v-btn-group>-->
<!--        <v-btn color="secondary" active>incididunt</v-btn>-->
<!--        <v-btn color="secondary">incididunt</v-btn>-->
<!--      </v-btn-group>-->

<!--      <v-btn icon color="success">-->
<!--        <fa-icon icon="user"></fa-icon>-->
<!--      </v-btn>-->

<!--      <v-btn color="danger" rounded elevation loading>Loading</v-btn>-->
<!--    </div>-->

<!--    &lt;!&ndash;  BUTTONS SIZES  &ndash;&gt;-->
<!--    <div class="py-4 gap-4">-->
<!--      <button class="v-btn rounded small success">Small</button>-->
<!--      <button class="v-btn rounded primary">Normal</button>-->
<!--      <button class="v-btn rounded outline danger large">Large</button>-->
<!--      <button class="v-btn rounded text secondary big">Extra Large</button>-->
<!--      <button class="v-btn rounded warning huge" disabled>Huuuuuuge</button>-->
<!--      <button class="v-btn rounded danger massive active">Massive</button>-->
<!--    </div>-->

<!--    <div class="my-4">-->
<!--      <table class="table table-bordered table-hover table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">scelerisque</th>-->
<!--          <th scope="col">viverra</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <td>mauris</td>-->
<!--          <td>augue</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>mauris</td>-->
<!--          <td>augue</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>mauris</td>-->
<!--          <td>augue</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--    <div class="flex mt-4 gap-4">-->
<!--      <v-badge color="primary">vestibulum</v-badge>-->
<!--      <v-badge color="warning" pill>Malesuada</v-badge>-->
<!--    </div>-->

<!--    <div class="mt-4">-->
<!--      <ul class="v-list">-->
<!--        <li class="v-list-item disabled">Ullamcorper</li>-->
<!--        <li class="v-list-item">elementum</li>-->
<!--        <li class="v-list-item">scelerisque</li>-->
<!--      </ul>-->

<!--      <div class="v-list mt-4">-->
<!--        <div class="v-list__subheader">-->

<!--        </div>-->
<!--        <a href="#" class="v-list-item disabled">Ullamcorper</a>-->
<!--        <a href="#" class="v-list-item active">elementum</a>-->
<!--        <a href="#" class="v-list-item">-->
<!--          <div class="v-list-item__icon inline-flex self-start py-1" style="min-width: 24px">-->
<!--            <fa-icon icon="user"></fa-icon>-->
<!--          </div>-->
<!--          <div class="v-list-item__content">-->
<!--            <div class="v-list-item__title">-->
<!--              scelerisque-->
<!--            </div>-->
<!--            <div class="v-list-item__subtitle">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio ea-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="v-list-item__action" style="min-width: 48px">-->
<!--            <span class="v-badge primary">4</span>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="mt-4 h-56">-->
<!--      <v-dropdown>-->
<!--        <template #trigger>-->
<!--          <v-btn rounded elevation>Dropdown</v-btn>-->
<!--        </template>-->

<!--        <template>-->
<!--          <v-dropdown-group>-->
<!--            <v-list>-->
<!--              <v-list-item>-->
<!--                <div class="v-list-item__icon">-->
<!--                  <fa-icon :icon="['far', 'edit']"></fa-icon>-->
<!--                </div>-->
<!--                <div class="v-list-item__content">-->
<!--                  lobortis-->
<!--                </div>-->
<!--                <div class="v-list-item__action" style="min-width: 48px">-->
<!--                  <v-badge color="primary">4</v-badge>-->
<!--                </div>-->
<!--              </v-list-item>-->
<!--            </v-list>-->
<!--          </v-dropdown-group>-->
<!--        </template>-->
<!--      </v-dropdown>-->

<!--    </div>-->

<!--    &lt;!&ndash;  MODAL  &ndash;&gt;-->
<!--    <v-modal>-->
<!--      <v-card>-->
<!--        <v-card-header>-->
<!--          <h1 class="title">Fugit illum</h1>-->
<!--          <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit id illum iure laboriosam obcaecati</span>-->
<!--        </v-card-header>-->
<!--        <v-card-footer>-->
<!--          <v-btn color="danger" rounded elevation>Magna</v-btn>-->
<!--        </v-card-footer>-->
<!--      </v-card>-->
<!--    </v-modal>-->
<!--    &lt;!&ndash;    <div class="v-modal-backdrop"></div>&ndash;&gt;-->

<!--    <v-toaster-container>-->
<!--      <v-toaster loader meta="2 seconds ago" color="primary">-->
<!--        <template #header>-->
<!--          Magna-->
<!--        </template>-->
<!--        Alias consectetur consequuntur debitis dolorem eaque et eum obcaecati odit quo ut?-->
<!--      </v-toaster>-->

<!--      <v-toaster>-->
<!--        <template #header>-->
<!--          Magna-->
<!--        </template>-->
<!--        Alias consectetur consequuntur debitis dolorem eaque et eum obcaecati odit quo ut?-->
<!--      </v-toaster>-->

<!--      <v-toaster loader="top" color="warning">-->
<!--        Alias consectetur consequuntur debitis dolorem eaque et eum obcaecati odit quo ut?-->
<!--      </v-toaster>-->

<!--      <v-toaster filled loader color="danger">-->
<!--        <template #header>-->
<!--          Filled-->
<!--        </template>-->
<!--        Alias consectetur consequuntur debitis dolorem eaque et eum obcaecati odit quo ut?-->
<!--      </v-toaster>-->

<!--      <v-toaster filled color="primary">-->
<!--        Alias consectetur consequuntur debitis dolorem eaque et eum obcaecati odit quo ut?-->
<!--      </v-toaster>-->
<!--    </v-toaster-container>-->

<!--    <section class="relative py-4">-->
<!--      <div class="py-4">-->
<!--        <ul class="v-tabs pointing">-->
<!--          <li class="v-tab-item">Alias</li>-->
<!--          <li class="v-tab-item active">Malesuada</li>-->
<!--        </ul>-->
<!--        <div class="v-tab-content">-->
<!--          <div>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum neque optio tenetur ullam? Autem ea-->
<!--            earum ex exercitationem fugiat hic itaque iusto laboriosam magni, nemo possimus, sequi, tenetur voluptate.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="relative py-4">-->
<!--        <div class="v-tabs button">-->
<!--          <div class="v-tab-item">Alias</div>-->
<!--          <div class="v-tab-item active">Malesuada</div>-->
<!--        </div>-->
<!--        <div class="v-tab-content">-->
<!--          <div>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum neque optio tenetur ullam? Autem ea-->
<!--            earum ex exercitationem fugiat hic itaque iusto laboriosam magni, nemo possimus, sequi, tenetur voluptate.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="vertical py-4">-->
<!--        <div class="v-tab-content">-->
<!--          <div>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum neque optio tenetur ullam? Autem ea-->
<!--            earum ex exercitationem fugiat hic itaque iusto laboriosam magni, nemo possimus, sequi, tenetur voluptate.-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="v-tabs tabular">-->
<!--          <div class="v-tab-item">Alias</div>-->
<!--          <div class="v-tab-item active">Malesuada exercitationem</div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="vertical mt-4">-->
<!--        <ul class="v-tabs button">-->
<!--          <li class="v-tab-item">Alias</li>-->
<!--          <li class="v-tab-item active">Malesuada exercitationem</li>-->
<!--        </ul>-->

<!--        <div class="v-tab-content">-->
<!--          <div>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum neque optio tenetur ullam? Autem ea-->
<!--            earum ex exercitationem fugiat hic itaque iusto laboriosam magni, nemo possimus, sequi, tenetur voluptate.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </section>-->
<!--  </div>-->
</template>

<script>
const initialData = () => ({
  search: "",
  selectData: [
    {text: "Selling", value: 1},
    {text: "Gas", value: 2}
  ],
  tableHeader: [
    {text: 'Date', align: 'start', value: 'transactionDate', width: "140", filterable: true},
    {text: 'Remarks', value: 'remarks', sortable: false},
    {text: 'Wallet', value: 'wallet', width: "180", filterable: true},
    {text: 'Category', value: 'category', width: "180", filterable: true},
    {text: 'Amount', value: 'amount', width: "150", filterable: true},
  ],
  showAddDialog: false,
  showCalendar: false,
  showCategory: false,
  form: {
    transactionDate: null,
    amount: 0,
    categoryId: null,
    remarks: ""
  }
});

export default {
  name: "index",

  data: () => initialData(),

  created() {
    // this.$store.dispatch("transaction/bindTransactions", {
    //   userId: this.$store.state.user.uid
    // })
  },

  beforeRouteLeave() {
    this.$store.dispatch("transaction/bindTransactions");
  }
}
</script>

<style lang="scss">
@import "../assets/VTable";
@import "../assets/VList";
@import "../assets/VForm";
@import "../assets/VDropdown";
//@import "../componentsOld/VToaster/VToaster";
@import "../assets/VTab";
</style>
