<template>
  <div class="w-full px-14 py-2 mx-auto">
<!--    <div class="grid grid-cols-12 gap-8">-->
<!--      <div class="col-span-9">-->

<!--        sa-->
<!--      </div>-->
<!--      <div class="col-span-3">-->
<!--        <v-card rounded>-->
<!--          <v-card-header>-->
<!--            <div class="title">Recent Transactions</div>-->
<!--          </v-card-header>-->
<!--          <v-list class="border-t border-solid border-gray-200 px-0">-->
<!--            <v-list-item v-for="n in 5" :key="n">-->
<!--              <div class="content overflow-x-hidden pr-3">-->
<!--                <div class="title whitespace-nowrap font-medium">Lorem ipsum dolor sit amet, consecte tur adipisicing elit. tur-->
<!--                  adipisicing elit.-->
<!--                </div>-->
<!--                <div class="subtitle">-->
<!--&lt;!&ndash;                  <span>BPI</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>•</span>&ndash;&gt;-->
<!--                  <span>Transportation</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="action text-sm text-gray-700">P 500.00</div>-->
<!--            </v-list-item>-->
<!--          </v-list>-->
<!--          <v-card-footer>-->
<!--            <v-btn rounded class="w-full border border-solid border-gray-200">See All</v-btn>-->
<!--          </v-card-footer>-->
<!--        </v-card>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</template>

<script>
// import { VCard, VCardFooter, VCardHeader, VCardText } from "@/components/VCard";
// import VList, { VListItem } from "@/components/VList";
// import VBtn from "@/components/VBtn";

export default {
  name: "dashboard",

  // components: {
  //   VCard, VCardText, VCardHeader, VCardFooter,
  //   VList, VListItem,
  //   VBtn
  // }
}
</script>

<style scoped>

</style>
