<template>
  <div class="flex justify-center bg-gray-200 h-full">
    <form @submit.prevent="signInWithEmailAndPassword" class="lg:mt-44 w-96">
      <VCard>
        <VCardHeader>
          <h3 class="title">Welcome</h3>
        </VCardHeader>

        <VCardText>

          <LazyVAlert v-if="error" color="danger">
            {{ error }}
          </LazyVAlert>

          <VTextField rounded full-width
                      :error-messages="validationErrors('Email')"
                      label="Email"
                      id="emailInput"
                      v-model.trim="email"
                      type="email"/>

          <VTextField rounded full-width
                      :error-messages="validationErrors('password')"
                      label="Password"
                      id="passwordInput"
                      autocomplete="password"
                      v-model.trim="password"
                      type="password"/>
        </VCardText>

        <VCardFooter>
          <VBtn rounded type="submit"
                color="primary"
                :disabled="$v.$anyError"
                :loading="isLoading">Login
          </VBtn>
        </VCardFooter>
      </VCard>
    </form>
  </div>
</template>

<script>
import { AuthRequest } from "@/core/validations/AuthRequest";
import Vuelidateable from "~/core/mixins/vuelidateable";

export default {
  name: "login",
  layout: "plain",
  validations: AuthRequest,

  mixins: [Vuelidateable],

  data: () => ({
    email: null,
    password: null,
    isLoading: false,
    error: null
  }),

  methods: {
    async signInWithEmailAndPassword() {
      this.$v.$touch();

      if (this.$v.$invalid) return;

      this.isLoading = true;

      try {
        await this.$store.dispatch("signInWithEmailAndPassword", {
          email: this.email,
          password: this.password
        });

        this.error = null;

        await this.$router.push('/transactions');
      } catch (error) {
        this.error = error.message;
      } finally {
        this.isLoading = false;
      }
    },
    signUpWithEmail() {
      const data = {
        credentials: {
          email: this.email,
          password: this.password
        },
        setting: {
          is_admin: false
        }
      }

      this.$store.dispatch("signUpWithEmail", data);
    }
  }
}
</script>
