<template>
  <VCard>
    <VCardText>
      <div class="flex flex-row justify-between pr-8 h-12">
        <div>
          <p class="text-xs text-gray-500 font-normal leading-normal">Name</p>
          <VCardTitle>{{ getSelectedWallet.name }}</VCardTitle>
        </div>
        <div class="text-right">
          <div class="block">
            <div class="inline-block text-gray-500 font-medium">
              {{ $numberFormat(getSelectedWallet.currentBalance) }}
            </div>
            <div class="inline-block text-sm text-gray-500">{{ getSelectedWallet.currencyCode }}</div>
          </div>
          <p class="text-xs text-gray-600 font-normal">Available Balance</p>
        </div>
      </div>

      <div class="absolute right-1 top-1">
        <VSelectWallet :value="walletId"
                       @change="$emit('selected', $event)"
                       @create-wallet="openCreateWalletModal">
          <template #activator="{toggle}">
            <VDropdownBtn small rounded text @click="toggle"/>
          </template>
        </VSelectWallet>
      </div>
    </VCardText>
  </VCard>
</template>

<script>
import { WALLET_RESET } from "~/core/utils/Resetters";
import { mapGetters } from "vuex";

export default {
  name: "VWallet",

  props: {
    walletId: String
  },

  computed: {
    ...mapGetters({
      isListEmpty: "wallet/isListEmpty",
    }),

    getSelectedWallet() {
      if (!this.isListEmpty && this.walletId) {
        const selected = this.$store.getters["wallet/getWallet"](this.walletId);

        if (selected) return selected;
      }

      return WALLET_RESET();
    }
  },

  methods: {
    openCreateWalletModal() {
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showTransactionCreateModal');
      this.$store.commit('TOGGLE_GLOBAL_MODAL', 'showWalletCreateModal');
    }
  }
}
</script>

<style lang="scss" scoped>
.v-form-group.danger {
  .v-card {
    @apply border-red-500;
  }
}
</style>
