<script>
export default {
  name: "VListItemGroup",

  render(createElement) {
    const VNodeData = {
      class: "v-list-item__group"
    };

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-list-item__group {
  @apply py-1.5 border-b border-solid border-gray-100;
}
</style>
