<script>
export default {
  name: "VListItemContentTitle",

  render(createElement) {
    const VNodeData = {
      class: "title"
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-size: 13px;
  @apply capitalize self-center overflow-ellipsis whitespace-nowrap overflow-hidden leading-4 font-medium text-gray-700 mb-0.5 flex-auto;
}

.v-list-item.dense {
  .title {
    @apply leading-tight mb-0;
  }
}
</style>
