<script>
export default {
  name: "VListItemContentSubtitle",
  render(createElement) {
    const VNodeData = {
      class: "subtitle"
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.subtitle {
  font-size: 13px;
  @apply self-center text-gray-500 flex-wrap leading-4;
}
</style>
