<template>
  <div class="v-item-item__icon">
    <slot>
    </slot>
  </div>
</template>

<script>
export default {
  name: "VListItemIcon",

  // props: {
  //   icon: {
  //     type: [String | Array | undefined],
  //     required: false,
  //     default: undefined
  //   }
  // }
}
</script>

<style lang="scss" scoped>
.v-item-item__icon {
  @apply mr-5 inline-flex items-center my-2;
}
</style>
