<script>
export default {
  name: "VListItemContent",

  render(createElement) {
    const VNodeData = {
      class: "v-list-item__content"
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-list-item__content {
  flex: 1 1;
  @apply py-2;
  @apply flex flex-wrap items-center;

  .dense & {
    @apply py-1;
  }
}
</style>
