<script>
import Measurable from "@/core/mixins/measurable";

export default {
  name: "VList",

  mixins: [
    Measurable
  ],

  props: {
    cols: {
      type: String,
      default: "1",
      validator(value) {
        return Number(value) <= 12 && Number(value) >= 1;
      }
    },

    gap: {
      type: String,
      default: "2",
      validator(value) {
        return Number(value) <= 12 && Number(value) >= 1;
      }
    }
  },

  computed: {
    classes() {
      return {
        [`grid-cols-${this.cols}`]: this.cols,
        [`gap-${this.gap}`]: this.gap
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      staticClass: "v-list",
      class: this.classes,
      style: this.measurableStyles
    }

    return createElement("div", VNodeData, [
      this.$slots.default,
    ])
  }
}
</script>

<style lang="scss" scoped>
.v-list {
  @apply grid;
}
</style>
