<script>
export default {
  name: "VListItem",
  props: {
    active: Boolean,
    dense: Boolean,
    hoverable: Boolean
  },

  computed: {
    classes() {
      return {
        "v-list-item": true,
        "dense": this.dense,
        "active": this.active,
        'hoverable': this.hoverable
      }
    }
  },

  render(createElement) {
    const VNodeData = {
      class: this.classes
    }

    return createElement("div", VNodeData, [
      this.$slots.default,
    ]);
  }
}
</script>

<style lang="scss" scoped>
.v-list-item {
  @apply flex flex-row relative px-4 font-sans bg-white text-gray-700 leading-normal;

  &.hoverable {
    @apply hover:bg-gray-200 cursor-pointer;
  }

  &.active {
    @apply bg-gray-200;
  }

  &.disabled {
    @apply pointer-events-none text-gray-400
  }
}
</style>
