<script>
export default {
  name: "VBtnGroup",

  render(createElement) {
    const VNodeData = {
      class: "v-btn-group"
    }

    return createElement("div", VNodeData, [this.$slots.default]);
  }
}
</script>

<style lang="scss" scoped>
.v-btn-group {
  @apply inline-flex flex-wrap flex-row;

  > :first-child {
    @apply rounded-tl rounded-bl;
  }

  > :last-child {
    @apply rounded-tr rounded-br;
  }
}
</style>
