<template>
  <button :class="classes">
    <span v-if="$slots.prepend" class="w-3">
      <slot name="prepend" v-if="!loading"/>

      <span class="flex flex-1 items-center justify-center" v-if="loading">
        <fa-icon icon="spinner" class="animate-spin"/>
      </span>
    </span>

    <span class="absolute left-0 right-0 flex items-center justify-center" v-if="loading && !$slots.prepend">
      <fa-icon icon="spinner" class="animate-spin"/>
    </span>

    <span :class="['flex items-center justify-center flex-auto', { 'opacity-0': loading && !$slots.prepend }]">
      <span :class="[{'ml-1.5': $slots.prepend }]" class="self-center">
        <slot></slot>
      </span>

      <fa-icon icon="angle-down" :class="{ 'ml-1.5' : $slots.default }" v-if="dropdown"/>
    </span>
  </button>
</template>

<script>
import Elevatable from "~/core/mixins/elevatable";
import Roundable from "~/core/mixins/roundable";
import Colorable from "~/core/mixins/colorable";
import Sizeable from "~/core/mixins/sizeable";

const types = ['button', 'reset', 'submit'];

export default {
  name: "VBtn",

  props: {
    active: Boolean,
    loading: Boolean,
    icon: Boolean,
    outlined: Boolean,
    text: Boolean,

    dropdown: Boolean,

    type: {
      type: String,
      default: "button",
      validator(value) {
        return types.includes(value);
      }
    }
  },

  mixins: [
    Elevatable,
    Roundable,
    Colorable,
    Sizeable
  ],

  computed: {
    classes() {
      return {
        "v-btn": true,
        "active": this.active,
        "loading": this.loading,
        "icon": this.icon,
        "outlined": this.outlined,
        "text": this.text,
        "dropdown": this.dropdown,
        ...this.roundedClasses,
        ...this.elevationClasses,
        ...this.colorClasses,
        ...this.sizeableClasses
      }
    },
  }
}
</script>

<style lang="scss" scoped>
  @import "assets/VBtn";
</style>
