<template>
  <button :type="type" :disabled="disabled" :class="classes">
    <span class="absolute left-0 right-0 flex items-center justify-center" v-if="loading">
      <fa-icon icon="spinner" class="animate-spin"/>
    </span>

    <span :class="{ 'opacity-0': loading }">
      <slot></slot>
    </span>
  </button>
</template>

<script>
import BtnMixin from "@/components/VButton/BtnMixin";

export default {
  name: "VLoadableBtn",

  props: {
    loading: Boolean
  },

  computed: {
    classes() {
      return {
        loading: this.loading,
        ...this.BtnMixinClasses
      }
    }
  },

  mixins: [
    BtnMixin
  ]
}
</script>

<style lang="scss" scoped>
@import "assets/VBtn";
</style>
