<template>
  <button :type="type" :disabled="disabled" :class="BtnMixinClasses" v-on="$listeners">
    <slot></slot>
  </button>
</template>

<script>
import BtnMixin from "~/components/VButton/BtnMixin";

export default {
  name: "BasicBtn",

  mixins: [
    BtnMixin
  ]
}
</script>

<style lang="scss" scoped>
@import "assets/VBtn";
</style>
