<template>
  <VDropdown placement="bottom-start" min-width="350px"
             @close="setTab"
             @clear="$emit('clear')"
             :title="getText"
             :clearable="clearable && Boolean(internalValue)">
    <template #content="{ close }">
      <VDropdownContent>
        <VTabs :value="tab" justify="center">
          <template #tabs>
            <VTab v-for="entry in getTabs"
                  :key="`tab-${entry.id}`"
                  :target="entry.text"
                  @click="tab = $event">
              {{ entry.text }}
            </VTab>
          </template>

          <VTabItems>
            <VTabItem v-for="tab in getTabs"
                      :key="`tab-item-${tab.id}`"
                      :id="tab.text">

              <VDropdownItem v-for="category in getCategories(tab.text)"
                             :key="category.id"
                             :active="category.id === internalValue"
                             @click="selectedOption(category, close)">
                {{ category.name }}
              </VDropdownItem>

            </VTabItem>
          </VTabItems>
        </VTabs>
      </VDropdownContent>
    </template>
  </VDropdown>
</template>

<script>
import VSelectMixin from "../VSelectMixin";
import { mapGetters } from "vuex";

const tabsValues = ["Expenses", "Income"];

export default {
  name: "VSelectCategory",

  mixins: [
    VSelectMixin
  ],

  props: {
    clearable: Boolean,

    tabs: {
      type: Array | undefined,
      validator(value) {
        if (value === undefined) return true;

        return value.every(tab => tabsValues.includes(tab));
      },
      default: function () {
        return tabsValues;
      }
    }
  },

  data: () => ({
    tab: "Expenses"
  }),

  async mounted() {
    if (this.$store.getters["categoryType/isListEmpty"]) {
      await this.$store.dispatch("categoryType/getList");
    }

    if (this.$store.getters["category/isListEmpty"]) {
      await this.fetchData();
    }
  },

  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.sharedState['value'] = value;
        this.setTab();
      }
    },

    tabs() {
      this.setTab();
    }
  },

  computed: {
    ...mapGetters({
      categoryTypeList: "categoryType/getList",
    }),

    options() {
      return this.$store.state.category.list;
    },

    getTabs() {
      const tabsArray = [];
      const list = this.categoryTypeList;

      if (Object.keys(list).length) {
        this.tabs.forEach(entry => {
          tabsArray.push({
            id: list[entry],
            text: entry
          })
        });
      }

      return tabsArray;
    },

    getFilteredOptions() {
      if (this.search.trim().length <= 2)
        return this.options;

      return this.options
        .filter(entry => {
          return entry[this.dataText]
            .toLowerCase()
            .search(this.search.toLowerCase()) !== -1
        });
    },

    getCurrentActive() {
      if (!this.internalValue) return

      return this.options.find(entry => entry.id === this.internalValue);
    }
  },

  methods: {
    async fetchData() {
      try {
        await this.$store.dispatch("category/bindCategory");

        this.isApiLoading = true;
      } catch (e) {

      } finally {
        this.isApiLoading = false;
      }
    },

    getCategories(name) {
      return this.$store.getters[`category/get${name}Category`];
    },

    setTab() {
      if (this.tabs.length === 1)
        this.tab = this.tabs[0];
      else if (this.getCurrentActive)
        this.tab = this.getCurrentActive['categoryTypeName'];
      else
        this.tab = "Expenses";
    }
  }
}
</script>
